<script type="text/javascript">

  var question;
  var offer = "<%= t('offer').html_safe %>";
  var locale = "<%= @locale.to_s %>";
  var host = "<%= request.env['HTTP_HOST'] %>";
  var textHeight = 0;
  var ONELINEHEIGHT = 22;
  var TWOLINEHEIGHT = 44;
  var THREELINEHEIGHT = 66;

  <% if @locale.to_s == "es" %>
    var urlForLocale = '/es/questions.json';
  <% else %>
    var urlForLocale = '/en/questions.json';
  <% end %>

  $(document).ready(function() {

    var monthHandler = new AutoTabHandler();
    monthHandler.bind($('#month'), $('#day'));

    var dayHandler = new AutoTabHandler();
    dayHandler.bind($('#day'), $('#year'));

    TabMenu.init(
      $('.tab-menu'),
      $('.tab-contents'),
      "http://<%= request.env['HTTP_HOST'] %>"
    );
    
    //init
    $.ajax({
      url: urlForLocale,
      dataType: 'json',
      success: function(data) {
        //Get next randomly generated question and put text in the HTML
        RandomQuestionIterator.init(data, offer);
        question = RandomQuestionIterator.next();

        $('.question').html(question.text);
        // $('.question').html(tempText);

        // Vertical align the initial loaded question
        var questionHeight = $('.question').height();
        var bubbleHeight = $('.bubble-bg').height();
        var verticalAlignment = (bubbleHeight - questionHeight) / 2;
        $('.question').css({'bottom' : verticalAlignment + "px"});

        //Set the current question to the share page handler
        SharePageHandler.setCurrentQuestion(question, host, locale);
        //SharePopupHandler.setCurrentQuestion(question, host, locale, $('#share-wrapper'));
      }
    });

    $('#next-question').on('click', function(event){
      //Prevent the jQuery anchor focus
      event.preventDefault();

      //Get next random question
      question = RandomQuestionIterator.next();
      SharePageHandler.setCurrentQuestion(question, host, locale);
      //SharePopupHandler.setCurrentQuestion(question, host, locale, $('#share-wrapper'));

      //Fill in the next question and hide so it will not show the next question before the animation
      var questionDiv = $('.question');
      questionDiv.first().html(question.text);
      textHeight = questionDiv.height();
      questionDiv.hide();

      //used for placement
      var bubbleHeight = $('.bubble-bg').height();

      //Animate the question text to "disapear"
      $(".question").animate({
            opacity: 0,
            bottom: "35px",
            left: "-10px",
          }, {
            duration: 175,
            complete: function(){
              questionDiv.show();
            }
          });

      if(textHeight < ONELINEHEIGHT) { // one line question text animation restore
          $(".question").animate({
              opacity: 1,
              bottom: ((bubbleHeight  - ONELINEHEIGHT) / 2) + 10 + "px",
              left: "60px",
              fontSize:'1em',
          }, 175 );
          $(".question").animate({
              opacity: 1,
              bottom: (bubbleHeight  - ONELINEHEIGHT) / 2 + "px",
              left: "70px",
          }, 125 );
        }

      else if(textHeight < TWOLINEHEIGHT) { // two lines question text animation restore
          $(".question").animate({
              opacity: 1,
              bottom: ((bubbleHeight  - TWOLINEHEIGHT) / 2) + 10 + "px",
              left: "60px",
              fontSize:'1em',
          }, 175 );
          $(".question").animate({
              opacity: 1,
              bottom: (bubbleHeight  - TWOLINEHEIGHT) / 2 + "px",
              left: "70px",
          }, 125 );
        }

      else { // 3 or any other number of lines question text animation restore
          $(".question").animate({
              opacity: 0,
              bottom: ((bubbleHeight  - THREELINEHEIGHT) / 2) + 10 + "px",
              left: "60px",
              fontSize:'1em',
          }, 175 );
          $(".question").animate({
              opacity: 1,
              bottom: (bubbleHeight  - THREELINEHEIGHT) / 2 + "px",
              left: "70px",
              height: THREELINEHEIGHT + "px",
          }, 125 );
        }

        //Animate the bubble background image down and back
      $(".bubble-bg img").animate({
            opacity: 1,
            top: "275px",
            left: "0px",
            width: "0px",
            height: "0px",
          }, 175 );
            $(".bubble-bg img").animate({
              opacity: 1,
              top: "-8px",
              left: "-8px",
              width: "375px",
              height: "284px",
          }, 175 );
          $(".bubble-bg img").animate({
              opacity: 1,
              top: "0px",
              left: "0px",
              width: "375px",
              height: "284px",
          }, 125 );

    });

    $('#share-question').on('click', function(event){
      SharePageHandler.createShareWindow();
      //SharePopupHandler.createShareWindow();
    });

    $('#share-close-button').on('click', function(event){
      //SharePopupHandler.closeShareWindow();
    });

    HowToPlay.init(
      $('#how-to-play'),
      $('#close-button'),
      $('#online-trigger'),
      $('#in-person-trigger')
    );

    VideoHandler.init(
      $('#apartment-trigger'),
      $('#rooftop-trigger'),
      $('#latino-trigger'),
      $('#video-button-close')
    );

    <% if @content != '' %>
    var content = new ContentHandler();
    content.init(
      $('.tab-menu'),
      $('.tab-contents'),
      "http://<%= request.env['HTTP_HOST'] %>",
      "<%= @content %>"
    );
    <% end %>

  });
</script>