<div id="main-site">
  <%= render :partial => 'floodlight_analytics' %>
  <%= render :partial => 'question_and_video_scripts' %>
  <div id="bottle-slice"></div>
  <header>
    
  </header>
  <div id="global-like-box">
   <!-- <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2FRiuniteSweet&amp;send=false&amp;layout=box_count&amp;width=60&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=75&amp;appId=225731830774718" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:60px; height:75px;" allowTransparency="true"></iframe> -->

   <div class="fb-like" data-href="http://www.facebook.com/RiuniteSweet" data-send="false" data-width="450" data-show-faces="false" layout="box_count"></div>



  </div>

  <div class="chill-chat-container">
    <div class="main-description">
      <h2 class="ir"><%= t('riunite_sweet') %>.</h2>
      <h1 class="ir"><%= t('just_chill') %>.</h1>

      <% if @locale.to_s == "es" %>
        <img class="riunite-sweet-just-chill" src="../assets/layout/riunite-sweet-just-chill-es.png" />
      <% else %>
        <img class="riunite-sweet-just-chill" src="../assets/layout/riunite-sweet-just-chill.png" />
      <% end %>

      <p><%= t('main_page_description').html_safe %></p>
    </div>
    
    <div class="chill-question">
      <div class="title">
        <div class="ir">
          <%=t('chill_chatter') %>
        </div>
      </div>
      <div class="chill-chatter-bubble"></div>
      <div class="box-move">
        <div class="bubble-bg">
          <div class="question" style="text-align: left; display: block; font-size: 1em; opacity: 1;left: 70px; width: 250px; "></div>
          <img id="bubble" src="../assets/layout/question_bubble.png" />
        </div>
      </div>
      <ul class="chill-chat-menu">
        <li ><a href="#" class="medium_button_blue" id="share-question"><%= t('chill_chat_menu_share_question') %></a></li>
        <li><a href="#" class="medium_button_white" id="next-question"><%= t('chill_chat_menu_next_question') %></a></li>
        <li><a href="#" class="medium_button_white_2" id="how-to-play"><%= t('chill_chat_menu_rules') %></a></li>
      </ul>
    </div>

    <div class="description">
      <%=t('chill_chatter_question_box_description') %>
    </div>

    <div id="how-to-play-window">
      <div id="how-to-play-title">
        <img src="../assets/layout/<%= t('where_img_filename') %>" id="where-img" />
      </div>
      <a href="#"><div id="close-button"></div></a>

      <div id="in-person-trigger">
        <p class="trigger"><%= t('in_person') %></p>
      </div>

      <div id="in-person">
        <div id="in-person-list">
          <ul>
            <li><img src="../assets/layout/one.png" /><%= t('how_to_play_first') %></li>
            <li><img src="../assets/layout/two.png" /><%= t('in_person_two') %></li>
            <li><img src="../assets/layout/three.png" /><%= t('in_person_three') %></li>
            <li><img src="../assets/layout/four.png" /><%= t('in_person_four') %></li>
            <li><img src="../assets/layout/five.png" /><%= t('how_to_play_last') %></li>
          <ul>
        </div>
      </div>

      <div id="online-trigger">
        <p class="trigger"><%= t('online') %></p>
      </div>

      <%= render :partial => 'shared/how_to_online_content' %>
      
    </div>
  </div>
  <%= image_tag("layout/age_verify/drop-shadow.png", :id => 'drop-shadow-top') %>

  <div id="middle-section">
    <ul class="tab-menu menu">
      <li>
        <a class="show-tab-content" href="#sweet-red">
          <img src="../assets/layout/ladies-sweet-red.png" />
          <img id="sweet-red-bottle-small" src="../assets/layout/sweet-red-bottle-small.png" />
          <div class="caption-wrapper red-wrapper caption-wrapper-active"></div>
            <div class="caption">
              <p class="main-title font14"><%= t('sweet_red_tab_menu_text') %></p>
              <p class="sub-title font11"><%= t('sweet_red_tab_menu_sub_text') %></p>
            </div>

        </a>
      </li>
      <li>
        <a class="show-tab-content" href="#sweet-white">
          <img src="../assets/layout/ladies-sweet-white.png" />
          <img id="sweet-white-bottle-small" src="../assets/layout/sweet-white-bottle-small.png" />
          <div class="caption-wrapper white-wrapper"></div>
            <div class="caption">
              <p class="main-title font14"><%= t('sweet_white_tab_menu_text') %></p>
              <p class="sub-title font11"><%= t('sweet_white_tab_menu_sub_text') %></p>
            </div>

        </a>
      </li>
      <li>
        <a class="show-tab-content" href="#video">
          <img src="../assets/layout/ladies-videos.png" />
          <img id="movie-clapboard" src="../assets/layout/movie-clapboard.png" />
          <div class="caption-wrapper video-wrapper"></div>
            <div class="caption">
              <p class="main-title font14"><%= t('video_tab_menu_text') %></p>
              <p class="sub-title font11"><%= t('video_tab_menu_sub_text') %></p>
            </div>

        </a>
      </li>
      <li class="not-ready">
        <div class="iphone-wrapper check-back check-back-hover">
          <a href="<%= t('facebook_link') %>">
            <img src="../assets/layout/ladies-iphone-case.png" />
            <img id="iphone" src="../assets/layout/fb_thumb.png" />
            <div class="caption-wrapper iphone-wrapper"></div>
              <div class="caption">
                <p class="main-title font14"><%= t('facebook_fun') %></p>
                <p class="sub-title font11"><%= t('wine_games_gear') %></p>
              </div>
          </a>
        </div>
      </li>
      <li class="not-ready" style="margin-right: 0px;">
        <div class="locator-wrapper check-back" ></div>
          <a href="http://locator.banfi-hq.com/WineLocator/Default.aspx?BCode=285" target="_blank">
            <img src="../assets/layout/ladies-store-locator.png" />
            <img id="wine-bottle-bag" src="../assets/layout/wine-bottle-bag.png" />
            <div class="caption-wrapper locator-wrapper"></div>
              <div class="caption">
                <p class="main-title font14"><%= t('store_locator_tab_menu_text') %></p>
                <p class="sub-title font11"><%= t('store_locator_tab_menu_sub_text') %></p>
              </div>
          </a>
        </div>
      </li>
    </ul>
  </div>
  <%= image_tag("layout/age_verify/drop-shadow.png", :id => 'drop-shadow') %>

  <div id="video-popup">
    <a href="#"><div id="video-button-close"></div></a>
    <div id="video-container">
    </div>
  </div>

  <div class="tab-contents bottom-section">
    <%= render :partial => 'shared/sweet_red_content' %>
    <%= render :partial => 'shared/sweet_white_content' %>
    <%= render :partial => 'shared/video_content' %>
  </div>
  <%= image_tag("layout/age_verify/drop-shadow.png", :id => 'drop-shadow-bottom') %>


  <div class="locale">
    <a href="<%= t('locale_link') %>">
      <% if@locale.to_s == 'es' %>
        ENGLISH
      <% else %>
        ESPA&Ntilde;OL
      <% end %>
    </a>
  </div>

</div>
