<%= render :partial => 'floodlight_analytics' %>
<div id="bottle-slice"></div>
<div id="age-verify">
  <div id="age-verify-text">
    <div id="age-verify-welcome">

      <h2 class="ir"><%= t('riunite_sweet') %>.</h2>
      <h1 class="ir"><%= t('just_chill') %>.</h1>

      <% if @locale.to_s == "es" %>
        <img class="riunite-sweet-just-chill-es" src="../assets/layout/riunite-sweet-just-chill-es.png" />
      <% else %>
        <img class="riunite-sweet-just-chill" src="../assets/layout/riunite-sweet-just-chill.png" />
      <% end %>

      <p id="disclaimer-text"><%= t('disclaimer_text').html_safe %></p>

      <% if @locale.to_s == "es" %>
        <a id="small_button_blue" href="../en/age">ENGLISH</a>
      <% else %>
        <a id="small_button_blue" href="../es/age">ESPA&Ntilde;OL</a>
      <% end %>
    </div>

    <div id="bubble">
      <p class="verify-age-text <%= @locale.to_s == 'es' ? 'verify-espanol' : '' %>"><%= t('age_verify_old_enough') %></p>
      
      <form action='/<%=@locale %>/age/verify<%= @content != "" ? "/" + @content : "" %>' id="age-verify-form">
        <div class="age-verify-month-day-year-boxes">
          <%= text_field_tag 'month', nil, :placeholder => t('month_input_abbrev'), :class => 'age-verify-date', :maxlength => 2, :autocomplete => 'off' %>
          <%= text_field_tag 'day', nil, :placeholder => t('day_input_abbrev'), :class => 'age-verify-date', :maxlength => 2, :autocomplete => 'off'  %>
          <%= text_field_tag 'year', nil, :placeholder => t('year_input_abbrev'), :class => 'age-verify-date', :maxlength => 4, :autocomplete => 'off'  %>
        </div>

        <p class="age-verify-enter-dob <%= @locale.to_s == 'es' ? 'enter-dob-espanol' : '' %>"><%= t('age_verify_enter_date_of_birth') %></p>

        <% if params[:cid] %>
          <input type="hidden" name="cid" value="<%=params[:cid] %>">
        <% end %>
        <div id="age-verify-buttons">
          <input id="medium_button_blue" type="submit" value="<%= t('age_verify_button_enter') %>">
        </div>
      </form>

    </div>

    <div id="chill-chatter-bubble"></div>
  </div>

  <%= render :partial => 'placeholder_ie' %>
  <div id="invalid-date-error" style="display:none">
  	<%= t('age_verify_invalid_date_error') %>
  </div>
</div>
<%= image_tag("layout/age_verify/drop-shadow.png", :id => 'drop-shadow-age', :alt =>'') %>

<script type="text/javascript">
  $(document).ready(function() {
    $('#month').focus();

    var monthHandler = new AutoTabHandler();
    monthHandler.bind($('#month'), $('#day'));

    var dayHandler = new AutoTabHandler();
    dayHandler.bind($('#day'), $('#year'));

    var yearHandler = new AutoTabHandler();
    yearHandler.bind($('#year'), null);
  });

</script>  