<div id="share-content">
	<div id="twenty-one-statement">
	  <p class="font12"><%= t('share_popup_twenty_one_statement') %></p>
	</div>

	<div id="question-text">
		<%= @meta_description %>
	</div>

	<div id="facebook-content">
		<div id="fb-root"></div>
		<script>
      (function(d, s, id) {
  		  var js, fjs = d.getElementsByTagName(s)[0];
  		  if (d.getElementById(id)) return;
  		  js = d.createElement(s); js.id = id;
  		  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=264229707017946";
  		  fjs.parentNode.insertBefore(js, fjs);
  		}(document, 'script', 'facebook-jssdk'));
    </script>

		<div class="fb-like"
      data-href="http://riunitesweet.herokuapp.com/<%= @locale %>/<%= @meta_id %>"
      data-send="false"
      data-layout="button_count"
      data-width="450"
      data-show-faces="false">
    </div>
	</div>

	<div id="twitter-content">
		<a href="https://twitter.com/share"
      class="twitter-share-button"
      data-text="<%= @meta_description %>"
      data-url="http://riunitesweet.com/<%= @locale.to_s %>"
      data-via="<%= @locale.to_s == 'es' ? 'RiuniteSweetEsp' : 'RiuniteSweet' %>"
      data-size="large"
      data-hashtags="chillchatter">
      Tweet
    </a>
		<script>
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
    </script>


	</div>
</div>

