.centered {
  left:50%;
  margin-left:-486px;
}

#facebook-tab {
  margin-left: 11px;

  #locale-switch {
    margin-left: 730px;
    text-align: center;

    a {
      text-decoration: none;
      height: 19px;
      display: block;
      background: url('/assets/layout/header-social-and-toggle-sprite.png') 0px 0px;
      background-repeat: no-repeat;

      &.locale {
        margin-left: -20px;
        padding-top: 1px;
        background-position: -173px 0px;
        width: 76px;
        color: white;
        font-size: 11px;
        font-weight: bold;
      }

      &.locale:hover {
        padding-top: 1px;
        background-position: -173px -21px;
        width: 76px;
        color: white;
        font-size: 11px;
        font-weight: bold;
      }
    }
  }
}

.content-top-facebook {

  width: 787px;
  height: 272px;
  margin-top: 12px;
  margin-bottom: 12px;
  background: url('/assets/layout/background-top-facebook.png');

  .main-description {
    h1 {
      height: 43px;
      width: 276px;
      margin-left: 260px;
      margin-top: -63px;
    }

    h2 {
      background: url('/assets/layout/riunite-sweet-text-fb.png');
      background-repeat: no-repeat;
      height: 43px;
      width: 276px;
      margin-left: 23px;
      margin-top: -18px;
    }

    #just-chill-img {
      margin-left: 227px;
      margin-top: -111px;
    }

    #just-chill-img-es {
      margin-left: 227px;
      margin-top: -135px;
    }
  }

  ul.social-and-toggle {
    position: relative;
    display: block;
    list-style: none;
    float: right;
    margin-right: -10px;

    li {
      float: left;
      margin-left: 17px;
      text-align: center;
      a {
        text-decoration: none;
        height: 19px;
        display: block;
        background: url('/assets/layout/header-social-and-toggle-sprite.png') 0px 0px;
        background-repeat: no-repeat;

        &.twitter {
          background-position: -37px 0px;
          width: 23px;
        }

        &.twitter:hover {
          background-position: -37px -21px;
          width: 23px;
        }

        &.youtube {
          margin-left:-4px;
          background-position: -73px 0px;
          width: 19px;
        }

        &.youtube:hover {

          background-position: -73px -21px;
          width: 19px;
        }

        &.pinterest {
          margin-left: -3px;
          background-position: -140px 0px;
          width: 19px;
        }

        &.pinterest:hover {
          background-position: -140px -21px;
          width: 19px;
        }

        // &.spotify {
        //   background-position: -223px 0px;
        //   width: 19px;
        // }
        // &.spotify:hover {
        //   background-position: -223px -21px;
        //   width: 19px;
        // }
      }
    }
  }
}

.bottom-section-facebook {
  width: 787px;
  height: 318px;
  padding-left: 36px;
  background: url('/assets/layout/background-bottom-facebook.png');
  background-repeat: no-repeat;
  position: relative;

  .tab-text-image {
    position: absolute;
    display: block;
    margin-top: 20px;
  }

  h2 {
    top: -15px;
    left: 23px;
    padding: 0px;
    margin: 0px;
    color: #B23169;
    font-size: 27px;
    height: 42px;
    width: 173px;
  }

  .red-white-descriptions {
    width: 372px;
    line-height: 20px;
    font-size: 11px !important;
    margin-top: 30px;
  }

  .playlists {
    position:relative;
    margin-top: 10px;
    margin-left:8px;
    width:974px;
  }

  .cork {
    display: block;
    position: absolute;
    right: 17px;
    top: 151px;
  }

  .wine-bottle {
    display: block;
    position: absolute;
    right: 42px;
    top: 1px;
  }

  .wine-bottle-white {
    display: block;
    position: absolute;
    right: 58px;
    top: 1px;
    height: 278px;
  }

  .charms {
    list-style: none;
    margin-left: -49px;
    margin-top: -5px;

    li {
      float: left;
      padding-left: 6px;
      padding-right: 6px;
      width: 100px;

      a {
        position: relative;
        display: block;
        left: 50%;
        margin-left: -49px;
        height: 66px;
        width: 76px;
        text-decoration: none;

        &.sweet-red-charms {
          background: url('/assets/layout/red-wine-charms-sprite.png') 0px 0px;
          background-repeat: no-repeat;
        }

        &.sweet-white-charms {
          background: url('/assets/layout/white-wine-charms-sprite.png') 0px 0px;
          background-repeat: no-repeat;
        }

        #charm-caption {
          padding-top: 72px;
          text-align: center;
        }

        &.porch {
        }

        &.porch:hover {
          background-position: -519px 0px;
        }

        &.after-hours {
          margin-left: -47px;
          background-position: -111px 0px;
        }

        &.after-hours:hover {
          background-position: -630px 0px;
        }

        &.bbq {
          background-position: -218px 0px;
        }

        &.bbq:hover {
          background-position: -737px 0px;
        }

        &.coffee {
          margin-left: -51px;
          background-position: -325px 0px;
        }

        &.coffee:hover {
          background-position: -844px 0px;
        }

        &.chatter {
          margin-left: -53px;
          background-position: -432px 0px;
        }

        &.chatter:hover {
          background-position: -951px 0px;
        }

        &.unplugged {
        }

        &.unplugged:hover {
          background-position: -519px 0px;
        }

        &.water {
          margin-left: -47px;
          background-position: -111px 0px;
        }

        &.water:hover {
          background-position: -630px 0px;
        }

        &.summer {
          background-position: -218px 0px;
        }

        &.summer:hover {
          background-position: -737px 0px;
        }

        &.party {
          margin-left: -51px;
          background-position: -325px 0px;
        }

        &.party:hover {
          background-position: -844px 0px;
        }

        &.chatter {
          margin-left: -53px;
          background-position: -432px 0px;
        }

        &.chatter:hover {
          background-position: -951px 0px;
        }
      }
    }
  }
}

#drop-shadow-top-fb {
  position: relative;
  margin-top: -132px;
  z-index: -1;
}

#drop-shadow-bottom-fb {
  position: relative;
  margin-top: -105px;
  z-index: -1;
}

ul.social-and-toggle li a {
  &.facebook {
    width: 0px;
  }
}

.facebook-menu {
  list-style: none;
  margin-top: -30px;
  padding: 0px;

  li {
    float:left;
    margin-right: 0px;
    margin-left: -2px;
    margin-top: -12px;
    width: 112px;

    a {
      text-decoration: none;
      text-align: center;
      padding: 3px;
      height: 130px;
      width: 120px;
      display: block;
      position: relative;

      .product {
        height: 120px;
        width: 120px;

        #chill-chatter-balloon-img-fb {
          padding-top: 35px;
        }

        #movie-clapboard-img-fb {
          padding-top: 22px;
        }

        #wine-bottle-bag-img-fb {
          padding-top: 5px;
          padding-left: 10px;
        }

        #iphone-img-fb {
          padding-top: 27px;
          padding-left: 7px;
        }

        #pinterest-medium-img-fb {
          padding-top: 38px;
        }
      }

      .caption {
        width: 76px;
        line-height: 12px;
        .font12 {
          font-size: 12px;
          font-weight: bold;
          color: #7AA2C3;
        }
      }

      .main-title {
        position: relative;
        display: block;
        left: 33px;
        height: 18px;
        margin-top: 6px;
        margin-left: -13px;
      }

      .sub-title {
        position: relative;
        display: block;
        left: -33px;
        width: 195px;
        line-height: 10px;
      }

      .sub-title-es {
        position: relative;
        display: block;
        left: 27px;
        width: 74px;
        line-height: 10px;
        margin-top: 0px;
      }
    }

    a[href="#sweet-red"] {
      .main-title {
        width: 45px;
        margin-left: 7px;
      }
    }

    a[href="#sweet-white"] {
      .main-title {
        width: 45px;
        margin-left: 7px;
      }
    }

    #chill-chatter-fb {
      .main-title {
        width: 60px;
        margin-left: -1px;
      }
    }

    a[href="#iphone-case"], #iphone-fb {
      .main-title {
        width: 53px;
        margin-left: 3px;
      }
    }

    a[href="#iphone-case"], #iphone-fb {
      .caption .es {
        width: 67px;
        margin-left: -2px;
      }
    }

    #videos-fb {
      margin-left: 9px;
    }

    a[href="#store-locator"] {
      .main-title {
        width: 60px;
        margin-left: 5px;
      }

      .sub-title {
        margin-left: 6px;
      }
    }

    a[href="#store-locator"] {
      .caption .es {
        width: 82px;
        margin-left: -8px;
      }
    }

    .single-line {
      .main-title {
        padding-top: 12px;
      }

      .sub-title, .sub-title-es {
        margin-top: -12px;
      }
    }
  }
}
  .iphone-case {
    position: absolute;
    margin: -205px 0px 0px 0px;
  }
  #iphone-case-back {
    margin-left: 410px;
  }
  #iphone-case-front {
    margin-left: 565px;
  }

  #iphone-case-shadow {
    position: relative;
    float: right;
    margin-top: 23px;
  }

  #button-row {
    margin-top: 20px;
  }

  #iphone-like-to-get {
    margin-top: 25px;
  }

  #get-it-button-image {
    position: relative;
    z-index:2;
    width: 102px;
    height: 32px;
    margin: -25px 0 0 120px;
    padding-top: 4px;
    background-image: url('/assets/layout/button-generic.png');
    background-repeat: no-repeat;
    text-align: center;
    font-size: 0.9em;
  }

  #get-it-button, #get-it-button:hover, #get-it-button:visited {
    color: #7aa2c3;
    text-decoration: none;
  }