html {
  width: 492px;
  height: 244px;
  margin: 0;
}
body {
  margin: 0;
  background-color: #eef6f9;
  width: 492px;
  height: 244px;
  overflow:hidden;
  font-family:'Open Sans',calibri,arial,sans-serif;
}
