#share-content {
  width:492px;
  height:244px;
  margin:0;
  background-image: url('/assets/layout/background-share-popup.jpg');
  background-repeat: no-repeat;
  font-family:arial,sans-serif;
}

.font12 {
font-size: 12px;
font-weight: normal;
color: #7AA2C3;
}

#twenty-one-statement {
  position: absolute;
  width: 140px;
  height: 40px;
  margin: 30px 0 0 20px;
}

#facebook-content {
  position: absolute;
  width: 91px;
  height: 21px;
  margin: 90px 0 0 20px;
}

#twitter-content {
  position: absolute;
  width: 120px;
  height: 35px;
  margin: 125px 0 0 20px;
}

#question-text {
	position: absolute;
	width: 185px;
	height: 90px;
	margin: 80px 0 0 260px;
	font-size: 14px;
  font-weight:100;
  font-style: italic;
  color: white;
}