body {
  background-color: white;
}

#drop-shadow-age {
    width:968px;
    height:125px;
    position:relative;
    margin-top:344px;

}

#bottle-slice {
  position: absolute;
  margin:44px 0 0 -22px;
  width: 22px;
  height: 258px;
  background-image: url('/assets/layout/bottle-slice.png');
}

#ice {
  position: relative;
  z-index:3;
  margin-top:-124px;
  margin-left:-32px;
}
#chill-chatter-bubble {
  position:absolute;
  background-image :url('/assets/layout/chill_chatter_bubble.png');
  background-repeat:no-repeat;
  display:block;
  height:165px;
  width:205px;
  margin-left:755px;
  margin-top:-121px;
  z-index:4;
}

#age-verify {
  position: absolute;
  display: block;
  margin: 0 auto;
  width: 982px;
  height: 449px;
  background-color: white;
  background-image: url('/assets/layout/background-main-top.jpg');
  background-repeat: repeat-x;
  z-index:2;

  #bubble {
    position: absolute;
    width: 375px;
    height: 284px;
    background-image: url('/assets/layout/question_bubble.png');
    margin-left: 553px;
    margin-top: -73px;
  }

  .age-verify-page-title {
    width: inherit;
  }

  #disclaimer-text {
    position: absolute;
    height: 56px;
    width: 270px;
    text-align: center;
    margin-left: 35px;
    margin-top: 33px;
    font-size: 12px;
    line-height: 1.6em;
    color: #4D799D;
  }

  #age-verify-text {
    color: #0553a4;

    #age-verify-welcome {
      margin-left: 117px;
      font-size: 34px;
      line-height: 10px;

      h2 {
      width: 365px;
      height: 103px;
      margin-left: 1px;
      margin-top: 19px;
      }

      h1 {
        height: 1px;
        margin: 0;
      }

      .riunite-sweet-just-chill {
        margin: -98px 0 0 1px;
      }

      .riunite-sweet-just-chill-es {
        margin: -127px 0 0 1px;
      }

      .invisible {
        text-indent:-9999px;
      }

      #small_button_blue {
        position:absolute;
        margin:-141px 0 0 747px;
        text-align: center;
        padding-top:3px;
        padding-left:1px;
        display:block;
        font-size:11px;
        font-weight: bold;
        height:16px;
        width:75px;
        color: white;
        background-image: url('/assets/layout/header-social-and-toggle-sprite.png');
        background-position: -173px 0;
        background-repeat: no-repeat;
        text-decoration:none;
      }
      #small_button_blue:hover {
        position:absolute;
        margin:-141px 0 0 747px;
        text-align: center;
        padding-top:3px;
        padding-left:1px;
        display:block;
        font-size:11px;
        font-weight: bold;
        height:16px;
        width:75px;
        color: white;
        background-image: url('/assets/layout/header-social-and-toggle-sprite.png');
        background-position: -173px -21px;
        background-repeat: no-repeat;
        text-decoration:none;
      }

      #welcome-age {
        margin-top: 30px;
        margin-left: 140px;
      }
      #old-enough {
        margin-top: 25px;
        margin-left: 10px;
      }

      #welcome-age-es {
        margin-top: 2%;
        margin-left: 194px;
      }
      #old-enough-es {
        margin-top: 2%;
        margin-left: 119px;
      }
    }
  }

  .age-verify-enter-dob {
      margin-left: 20px;
      color: #ffffff;
      font-size: 12px;
  }
  .enter-dob-espanol {
    margin-left: -5px;
  }

  .verify-age-text {
    color: #ffffff;
    font-family: 'Open Sans', calibri, arial, sans-serif;
    font-style: italic;
    margin: 87px 0 0 85px;
  }
  .verify-espanol {
    margin: 87px 0 0px 105px;
  }


  #age-verify-form {
    margin-left: 85px;
    margin-top: 10px;
    z-index: 4;

    .age-verify-month-day-year-labels {
      color: #4d799d;
      font-size: 11px;
      text-align: center;

      p {
        width: 66px;
        float: left;
        margin-right: 17px;
        margin-bottom: 7px;
      }
    }

    .age-verify-month-day-year-boxes {
      clear: both;
    }

    .age-verify-date {
      clear: left;
      color: #4d799d;
      font-size: 12px;
      text-align: center;
      width: 55px;
      height: 33px;
      margin-right: 13px;

    }
    ::-webkit-input-placeholder {
         padding:auto;
      }

      :-moz-placeholder {
      }

    #age-verify-buttons {
      position: absolute;
      display: none;
      margin-top: 65px;
      margin-left: 55px;
      width: 114px;

      #medium_button_blue {
        position: relative;
        font-size: 12px;
        height: 30px;
        width: 114px;
        color: #f1f1f1;
        border: solid 1px #4889AA;
        background: #41BAD8;
        background: -webkit-gradient(linear, left top, left bottom, from(#6dc5e6), to(#4797d2));
        background: -moz-linear-gradient(top,  #6dc5e6,  #4797d2);
        -webkit-border-radius: 2em;
        -moz-border-radius: 2em;
        border-radius: 2em;
      }
      #medium_button_blue:hover {
        position: relative;
        font-size:12px;
        height: 30px;
        width: 114px;
        color: #f1f1f1;
        border: solid 1px #4889AA;
        background: #42A4D2;
        background: -webkit-gradient(linear, left top, left bottom, from(#4CB9DC), to(#3181C0));
        background: -moz-linear-gradient(top,  #4CB9DC,  #3181C0);
        -webkit-border-radius: 2em;
        -moz-border-radius: 2em;
        border-radius: 2em;
      }
      #medium_button_blue:active {
        position: relative;
        font-size: 12px;
        height: 30px;
        width: 114px;
        color: #f1f1f1;
        border: solid 1px #4889AA;
        background: #2F95C2;
        background: -webkit-gradient(linear, left top, left bottom, from(#37ABD0), to(#236FAA));
        background: -moz-linear-gradient(top,  #37ABD0,  #236FAA);
        -webkit-border-radius: 2em;
        -moz-border-radius: 2em;
        border-radius: 2em;
      }
      #medium_button_white {
        position:relative;
        left:132px;
        top:-30px;
        text-align: center;
        padding-top:7px;
        display:block;
        font-size:12px;
        height:23px;
        width:99px;
        color: #527887;
        border: solid 1px #B6CBD1;
        background: #DEEDF3;
        background: -webkit-gradient(linear, left top, left bottom, from(#F2F8FA), to(#CDE4ED));
        background: -moz-linear-gradient(top,  #F2F8FA,  #CDE4ED);
        -webkit-border-radius: 2em;
        -moz-border-radius: 2em;
        border-radius: 2em;
        text-decoration:none;
      }
      #medium_button_white:hover {
        position:relative;
        left:132px;
        top:-30px;
        text-align: center;
        padding-top:7px;
        display:block;
        font-size:12px;
        height:23px;
        width:99px;
        color: #527887;
        border: solid 1px #B6CBD1;
        background: #C7E4EE;
        background: -webkit-gradient(linear, left top, left bottom, from(#DEEFF6), to(#A4D4E5));
        background: -moz-linear-gradient(top,  #DEEFF6,  #A4D4E5);
        -webkit-border-radius: 2em;
        -moz-border-radius: 2em;
        border-radius: 2em;
        text-decoration:none;
      }
      #medium_button_white:active {
        position:relative;
        left:132px;
        top:-30px;
        text-align: center;
        padding-top:7px;
        display:block;
        font-size:12px;
        height:23px;
        width:99px;
        color: #527887;
        border: solid 1px #B6CBD1;
        background: #AFD5E3;
        background: -webkit-gradient(linear, left top, left bottom, from(#D0E7EF), to(#7FBCD3™));
        background: -moz-linear-gradient(top,  #D0E7EF,  #7FBCD3);
        -webkit-border-radius: 2em;
        -moz-border-radius: 2em;
        border-radius: 2em;
        text-decoration:none;
      }

    }

  }

  #invalid-date-error {
    color: #c41a52;
    margin: 155px 0 0 520px;
    font-size: 13px;
    text-align: center;
  }


}