.centered {
  left:50%;
  margin-left:-486px;
}

#facebook-tab {
    margin-left: 11px;

    .chill-question {
    position: absolute;
    display: block;
    width: 415px;
    margin: -95px 0 0 355px;

    .box-move {
      height: 299px;
      width: 356px;
    }

    .chill-chatter-bubble {
      background-image :url('/assets/layout/chill_chatter_bubble.png');
      background-repeat:no-repeat;
      display:block;
      position:relative;
      height:165px;
      width:205px;
      left:194px;
      margin-top:24px;
      z-index:4;
    }

    .bubble-bg {
      display:block;
      position:relative;
      height:284px;
      z-index:3;
      right:9px;
      margin-top:-117px;

      img{
        position:relative;
        height:284px;
        width:377px;
      }
    }

    .question {
      text-align:left;
      display:block;
      overflow:hidden;
      position: absolute;
      width: 250px;
      font-weight:100;
      font-style: italic;
      color: white;
      left:70px;
      z-index:4;

      a {
        font-color:#FFF;
      }

    }

    ul {
      list-style-type: none;
      position: relative;
      display: block;
      margin-top: -35px;
      margin-left: -22px;
      z-index: 4;

      li {
        float: left;
        position:relative;
        text-align: center;
        padding-top:4px;
        font-size:12px;
        margin: 0px 0 0 13px;

        .medium_button_blue {
          text-align: center;
          padding-top:5px;
          display:block;
          font-size:12px;
          height:23px;
          width: 117px;
          color: #f1f1f1;
          border: solid 1px #4889AA;
          background: #41BAD8;
          background: -webkit-gradient(linear, left top, left bottom, from(#6dc5e6), to(#4797d2));
          background: -moz-linear-gradient(top,  #6dc5e6,  #4797d2);
          -webkit-border-radius: 2em;
          -moz-border-radius: 2em;
          border-radius: 2em;
        }

        .medium_button_blue:hover {
          text-align: center;
          padding-top:5px;
          display:block;
          font-size:12px;
          height:23px;
          width: 117px;
          color: #f1f1f1;
          border: solid 1px #4889AA;
          background: #42A4D2;
          background: -webkit-gradient(linear, left top, left bottom, from(#4CB9DC), to(#3181C0));
          background: -moz-linear-gradient(top,  #4CB9DC,  #3181C0);
          -webkit-border-radius: 2em;
          -moz-border-radius: 2em;
          border-radius: 2em;
        }
        .medium_button_blue:active {
          text-align: center;
          padding-top:5px;
          display:block;
          font-size:12px;
          height:23px;
          width: 117px;
          color: #f1f1f1;
          border: solid 1px #4889AA;
          background: #2F95C2;
          background: -webkit-gradient(linear, left top, left bottom, from(#37ABD0), to(#236FAA));
          background: -moz-linear-gradient(top,  #37ABD0,  #236FAA);
          -webkit-border-radius: 2em;
          -moz-border-radius: 2em;
          border-radius: 2em;
        }

        .medium_button_white {
          position:relative;
          text-align: center;
          padding-top:6px;
          display:block;
          font-size:12px;
          height:23px;
          width: 124px;
          color: #527887;
          border: solid 1px #B6CBD1;
          background: #DEEDF3;
          background: -webkit-gradient(linear, left top, left bottom, from(#F2F8FA), to(#CDE4ED));
          background: -moz-linear-gradient(top,  #F2F8FA,  #CDE4ED);
          -webkit-border-radius: 2em;
          -moz-border-radius: 2em;
          border-radius: 2em;
          text-decoration:none;
          z-index:5;
        }
        .medium_button_white:hover {
          position:relative;
          text-align: center;
          padding-top:6px;
          display:block;
          font-size:12px;
          height:23px;
          width: 124px;
          color: #527887;
          border: solid 1px #B6CBD1;
          background: #C7E4EE;
          background: -webkit-gradient(linear, left top, left bottom, from(#DEEFF6), to(#A4D4E5));
          background: -moz-linear-gradient(top,  #DEEFF6,  #A4D4E5);
          -webkit-border-radius: 2em;
          -moz-border-radius: 2em;
          border-radius: 2em;
          text-decoration:none;
          z-index:5;
        }
        .medium_button_white:active {
          position:relative;
          text-align: center;
          padding-top:6px;
          display:block;
          font-size:12px;
          height:23px;
          width: 124px;
          color: #527887;
          border: solid 1px #B6CBD1;
          background: #AFD5E3;
          background: -webkit-gradient(linear, left top, left bottom, from(#D0E7EF), to(#7FBCD3™));
          background: -moz-linear-gradient(top,  #D0E7EF,  #7FBCD3);
          -webkit-border-radius: 2em;
          -moz-border-radius: 2em;
          border-radius: 2em;
          text-decoration:none;
          z-index:5;
        }

        .medium_button_white_2 {
          position:relative;
          text-align: center;
          padding-top:6px;
          display:block;
          font-size:12px;
          height:23px;
          width: 99px;
          color: #527887;
          border: solid 1px #B6CBD1;
          background: #DEEDF3;
          background: -webkit-gradient(linear, left top, left bottom, from(#F2F8FA), to(#CDE4ED));
          background: -moz-linear-gradient(top,  #F2F8FA,  #CDE4ED);
          -webkit-border-radius: 2em;
          -moz-border-radius: 2em;
          border-radius: 2em;
          text-decoration:none;
        }
        .medium_button_white_2:hover {
          position:relative;
          text-align: center;
          padding-top:6px;
          display:block;
          font-size:12px;
          height:23px;
          width:99px;
          color: #527887;
          border: solid 1px #B6CBD1;
          background: #C7E4EE;
          background: -webkit-gradient(linear, left top, left bottom, from(#DEEFF6), to(#A4D4E5));
          background: -moz-linear-gradient(top,  #DEEFF6,  #A4D4E5);
          -webkit-border-radius: 2em;
          -moz-border-radius: 2em;
          border-radius: 2em;
          text-decoration:none;
        }
        .medium_button_white_2:active {
          position:relative;
          text-align: center;
          padding-top:6px;
          display:block;
          font-size:12px;
          height:23px;
          width:99px;
          color: #527887;
          border: solid 1px #B6CBD1;
          background: #AFD5E3;
          background: -webkit-gradient(linear, left top, left bottom, from(#D0E7EF), to(#7FBCD3™));
          background: -moz-linear-gradient(top,  #D0E7EF,  #7FBCD3);
          -webkit-border-radius: 2em;
          -moz-border-radius: 2em;
          border-radius: 2em;
          text-decoration:none;
        }

        a {
          text-decoration: none;
          color: white;
        }
      }
    }
  }


    #how-to-play {
      position: absolute;
      margin-top: 85px;
      width: 400px;

      ul {
        list-style-type: none;
        margin:0 0 5px 0;
        padding:0;

        li {
          font-size: 13px;
          color: #7aa2c3;
          margin-bottom: 3px;

          img {
            margin: -3px 5px 0 0;
          }
        }
      }
    }

    .facebook-menu {
    list-style: none;
    padding: 0px;

    li {
      float:left;
      margin-right: 0px;
      margin-left: -2px;
      margin-top: -12px;
      width: 112px;

      a {
        text-decoration: none;
        text-align: center;
        padding: 3px;
        height: 130px;
        width: 120px;
        display: block;
        position: relative;

        .product {
          height: 120px;
          width: 120px;

          #riunite-logo-small-img-fb {
            padding: 48px 0 0 10px;
          }

          #chill-chatter-balloon-img-fb {
            padding-top: 35px;
          }

          #movie-clapboard-img-fb {
            padding-top: 22px;
          }

          #wine-bottle-bag-img-fb {
            padding-top: 5px;
            padding-left: 10px;
          }

          #iphone-img-fb {
            padding-top: 27px;
            padding-left: 7px;
          }

          #pinterest-medium-img-fb {
            padding-top: 38px;
          }
        }

        .caption {
          width: 76px;
          margin-top: -10px;
          line-height: 12px;
          .font12 {
            font-size: 12px;
            font-weight: bold;
            color: #7AA2C3;
          }
          #chill-chatter-sub {
            width: 75px;
            margin-left: -7px;
          }
          #store-locator-sub {
            width: 75px;
            margin-left: -5px;
          }
        }

        .main-title {
          position: relative;
          display: block;
          left: 33px;
          height: 18px;
          margin-top: 6px;
          margin-left: -13px;
        }

        .sub-title {
          position: relative;
          display: block;
          left: -33px;
          width: 195px;
          line-height: 10px;
        }

        .sub-title-es {
          position: relative;
          display: block;
          left: 27px;
          width: 74px;
          line-height: 10px;
          margin-top: 0px;
        }
      }

      a[href="#sweet-red"] {
        .main-title {
          width: 45px;
          margin-left: 7px;
        }
      }

      a[href="#sweet-white"] {
        .main-title {
          width: 45px;
          margin-left: 7px;
        }
      }

      #chill-chatter-fb {
        .main-title {
          width: 60px;
          margin-left: -1px;
        }
      }

      a[href="#iphone-case"], #iphone-fb {
        .main-title {
          width: 53px;
          margin-left: 3px;
        }
      }

      a[href="#iphone-case"], #iphone-fb {
        .caption .es {
          width: 67px;
          margin-left: -2px;
        }
      }

      #videos-fb {
        margin-left: 9px;
      }

      a[href="#store-locator"] {
        .main-title {
          width: 60px;
          margin-left: 5px;
        }

        .sub-title {
          margin-left: 6px;
        }
      }

      a[href="#store-locator"] {
        .caption .es {
          width: 82px;
          margin-left: -8px;
        }
      }

      .single-line {
        .main-title {
          padding-top: 12px;
        }

        .sub-title, .sub-title-es {
          margin-top: -12px;
        }
      }
    }
  }

  #locale-switch {
    margin-left: 730px;
    #text-align: center;

    a {
      text-decoration: none;
      height: 19px;
      display: block;
      background: url('/assets/layout/header-social-and-toggle-sprite.png') 0px 0px;
      background-repeat: no-repeat;

      &.locale {
        margin-left: -20px;
        padding-top: 1px;
        background-position: -173px 0px;
        width: 76px;
        color: white;
        font-size: 11px;
        font-weight: bold;
      }

      &.locale:hover {
        padding-top: 1px;
        background-position: -173px -21px;
        width: 76px;
        color: white;
        font-size: 11px;
        font-weight: bold;
      }
    }
  }
  .content-top-facebook {
    position: relative;
    width: 787px;
    height: 182px;
    margin-top: 15px;
    margin-bottom: 11px;
    padding-top: 2px;
    background: url('/assets/layout/fb-top-background.jpg');
    background-repeat: no-repeat;

    .main-description {
      h1 {
        height: 43px;
        width: 276px;
        margin-left: 260px;
        margin-top: -63px;
      }

      h2 {
        background: url('/assets/layout/riunite-sweet-text-fb.png');
        background-repeat: no-repeat;
        height: 43px;
        width: 276px;
        margin-left: 23px;
        margin-top: -18px;
      }

      #just-chill-img {
        margin-left: 227px;
        margin-top: -111px;
      }

      #just-chill-img-es {
        margin-left: 227px;
        margin-top: -135px;
      }
    }

    ul.social-and-toggle {
      position: relative;
      display: block;
      list-style: none;
      float: right;
      margin-right: -10px;

      li {
        float: left;
        text-align: center;
        a {
          text-decoration: none;
          height: 19px;
          display: block;
          background: url('/assets/layout/header-social-and-toggle-sprite.png') 0px 0px;
          background-repeat: no-repeat;

          &.twitter {
            background-position: -37px 0px;
            width: 23px;
          }

          &.twitter:hover {
            background-position: -37px -21px;
            width: 23px;
          }

          &.youtube {
            margin-left:-4px;
            background-position: -73px 0px;
            width: 19px;
          }

          &.youtube:hover {

            background-position: -73px -21px;
            width: 19px;
          }

          &.pinterest {
            margin-left: -3px;
            background-position: -140px 0px;
            width: 19px;
          }

          &.pinterest:hover {
            background-position: -140px -21px;
            width: 19px;
          }

          // &.spotify {
          //   background-position: -223px 0px;
          //   width: 19px;
          // }
          // &.spotify:hover {
          //   background-position: -223px -21px;
          //   width: 19px;
          // }
        }
      }
    }
  }
}





#iphone-tab {
  margin-left: 11px;

  #locale-switch {
    margin-left: 730px;
    #text-align: center;

    a {
      text-decoration: none;
      height: 19px;
      display: block;
      background: url('/assets/layout/header-social-and-toggle-sprite.png') 0px 0px;
      background-repeat: no-repeat;

      &.locale {
        margin-left: -20px;
        padding-top: 1px;
        background-position: -173px 0px;
        width: 76px;
        color: white;
        font-size: 11px;
        font-weight: bold;
      }

      &.locale:hover {
        padding-top: 1px;
        background-position: -173px -21px;
        width: 76px;
        color: white;
        font-size: 11px;
        font-weight: bold;
      }
    }
  }
  .content-top-facebook {
    position: relative;
    width: 787px;
    height: 272px;
    margin-top: -12px;
    margin-bottom: 12px;
    background: url('/assets/layout/background-top-facebook.png');

    .main-description {
      h1 {
        height: 43px;
        width: 276px;
        margin-left: 260px;
        margin-top: -63px;
      }

      h2 {
        background: url('/assets/layout/riunite-sweet-text-fb.png');
        background-repeat: no-repeat;
        height: 43px;
        width: 276px;
        margin-left: 23px;
        margin-top: -18px;
      }

      #just-chill-img {
        margin-left: 227px;
        margin-top: -111px;
      }

      #just-chill-img-es {
        margin-left: 227px;
        margin-top: -135px;
      }
    }

    ul.social-and-toggle {
      position: relative;
      display: block;
      list-style: none;
      float: right;
      margin-right: -10px;

      li {
        float: left;
        text-align: center;
        a {
          text-decoration: none;
          height: 19px;
          display: block;
          background: url('/assets/layout/header-social-and-toggle-sprite.png') 0px 0px;
          background-repeat: no-repeat;

          &.twitter {
            background-position: -37px 0px;
            width: 23px;
          }

          &.twitter:hover {
            background-position: -37px -21px;
            width: 23px;
          }

          &.youtube {
            margin-left:-4px;
            background-position: -73px 0px;
            width: 19px;
          }

          &.youtube:hover {

            background-position: -73px -21px;
            width: 19px;
          }

          &.pinterest {
            margin-left: -3px;
            background-position: -140px 0px;
            width: 19px;
          }

          &.pinterest:hover {
            background-position: -140px -21px;
            width: 19px;
          }

          // &.spotify {
          //   background-position: -223px 0px;
          //   width: 19px;
          // }
          // &.spotify:hover {
          //   background-position: -223px -21px;
          //   width: 19px;
          // }
        }
      }
    }
  }
}


#facebook-tab {
  .bottom-section-facebook {
    width: 787px;
    height: 350px;
    padding-left: 36px;
    margin-top: -10px;
    background: url('/assets/layout/fb-bottom-background.jpg');
    background-repeat: no-repeat;
    position: relative;

    .chill-chatter-description-text {
      position: absolute;
      margin-top: 30px;
      color: #7AA2C3;
      font-size: 15px;
      font-style: italic;
      width: 430px;
    }

    .tab-text-image {
      position: absolute;
      display: block;
      margin-top: 20px;
    }

    h2 {
      top: -15px;
      left: 23px;
      padding: 0px;
      margin: 0px;
      color: #B23169;
      font-size: 27px;
      height: 42px;
      width: 173px;
    }

    .red-white-descriptions {
      width: 372px;
      line-height: 20px;
      font-size: 11px !important;
      margin-top: 30px;
    }

    .playlists {
      position:relative;
      margin-top: 10px;
      margin-left:8px;
      width:974px;
    }

    .cork {
      display: block;
      position: absolute;
      right: 17px;
      top: 151px;
    }

    .wine-bottle {
      display: block;
      position: absolute;
      right: 42px;
      top: 1px;
    }

    .wine-bottle-white {
      display: block;
      position: absolute;
      right: 58px;
      top: 1px;
      height: 278px;
    }

    .charms {
      list-style: none;
      margin-left: -49px;
      margin-top: -5px;

      li {
        float: left;
        width: 85px;

        a {
          position: relative;
          display: block;
          left: 50%;
          margin-left: -49px;
          height: 66px;
          width: 76px;
          text-decoration: none;

          &.sweet-red-charms {
            background: url('/assets/layout/red-wine-charms-sprite.png') 0px 0px;
            background-repeat: no-repeat;
          }

          &.sweet-white-charms {
            background: url('/assets/layout/white-wine-charms-sprite.png') 0px 0px;
            background-repeat: no-repeat;
          }

          #charm-caption {
            padding-top: 72px;
            text-align: center;
          }

          &.porch {
          }

          &.porch:hover {
            background-position: -519px 0px;
          }

          &.after-hours {
            margin-left: -47px;
            background-position: -111px 0px;
          }

          &.after-hours:hover {
            background-position: -630px 0px;
          }

          &.bbq {
            background-position: -218px 0px;
          }

          &.bbq:hover {
            background-position: -737px 0px;
          }

          &.coffee {
            margin-left: -51px;
            background-position: -325px 0px;
          }

          &.coffee:hover {
            background-position: -844px 0px;
          }

          &.chatter {
            margin-left: -53px;
            background-position: -432px 0px;
          }

          &.chatter:hover {
            background-position: -951px 0px;
          }

          &.unplugged {
          }

          &.unplugged:hover {
            background-position: -519px 0px;
          }

          &.water {
            margin-left: -47px;
            background-position: -111px 0px;
          }

          &.water:hover {
            background-position: -630px 0px;
          }

          &.summer {
            background-position: -218px 0px;
          }

          &.summer:hover {
            background-position: -737px 0px;
          }

          &.party {
            margin-left: -51px;
            background-position: -325px 0px;
          }

          &.party:hover {
            background-position: -844px 0px;
          }

          &.chatter {
            margin-left: -53px;
            background-position: -432px 0px;
          }

          &.chatter:hover {
            background-position: -951px 0px;
          }
        }
      }
    }
  }
}


#iphone-tab {
  .bottom-section-facebook {
    width: 787px;
    height: 318px;
    padding-left: 36px;
    margin-top: -10px;
    background: url('/assets/layout/background-bottom-facebook.png');
    background-repeat: no-repeat;
    position: relative;

    .tab-text-image {
      position: absolute;
      display: block;
      margin-top: 20px;
    }

    h2 {
      top: -15px;
      left: 23px;
      padding: 0px;
      margin: 0px;
      color: #B23169;
      font-size: 27px;
      height: 42px;
      width: 173px;
    }

    .red-white-descriptions {
      width: 372px;
      line-height: 20px;
      font-size: 11px !important;
      margin-top: 30px;
    }

    .playlists {
      position:relative;
      margin-top: 10px;
      margin-left:8px;
      width:974px;
    }

    .cork {
      display: block;
      position: absolute;
      right: 17px;
      top: 151px;
    }

    .wine-bottle {
      display: block;
      position: absolute;
      right: 42px;
      top: 1px;
    }

    .wine-bottle-white {
      display: block;
      position: absolute;
      right: 58px;
      top: 1px;
      height: 278px;
    }

    .charms {
      list-style: none;
      margin-left: -49px;
      margin-top: -5px;

      li {
        float: left;
        padding-left: 6px;
        padding-right: 6px;
        width: 100px;

        a {
          position: relative;
          display: block;
          left: 50%;
          margin-left: -49px;
          height: 66px;
          width: 76px;
          text-decoration: none;

          &.sweet-red-charms {
            background: url('/assets/layout/red-wine-charms-sprite.png') 0px 0px;
            background-repeat: no-repeat;
          }

          &.sweet-white-charms {
            background: url('/assets/layout/white-wine-charms-sprite.png') 0px 0px;
            background-repeat: no-repeat;
          }

          #charm-caption {
            padding-top: 72px;
            text-align: center;
          }

          &.porch {
          }

          &.porch:hover {
            background-position: -519px 0px;
          }

          &.after-hours {
            margin-left: -47px;
            background-position: -111px 0px;
          }

          &.after-hours:hover {
            background-position: -630px 0px;
          }

          &.bbq {
            background-position: -218px 0px;
          }

          &.bbq:hover {
            background-position: -737px 0px;
          }

          &.coffee {
            margin-left: -51px;
            background-position: -325px 0px;
          }

          &.coffee:hover {
            background-position: -844px 0px;
          }

          &.chatter {
            margin-left: -53px;
            background-position: -432px 0px;
          }

          &.chatter:hover {
            background-position: -951px 0px;
          }

          &.unplugged {
          }

          &.unplugged:hover {
            background-position: -519px 0px;
          }

          &.water {
            margin-left: -47px;
            background-position: -111px 0px;
          }

          &.water:hover {
            background-position: -630px 0px;
          }

          &.summer {
            background-position: -218px 0px;
          }

          &.summer:hover {
            background-position: -737px 0px;
          }

          &.party {
            margin-left: -51px;
            background-position: -325px 0px;
          }

          &.party:hover {
            background-position: -844px 0px;
          }

          &.chatter {
            margin-left: -53px;
            background-position: -432px 0px;
          }

          &.chatter:hover {
            background-position: -951px 0px;
          }
        }
      }
    }
  }
}






#facebook-tab #drop-shadow-top-fb {
  position: relative;
  margin-top: -136px;
  z-index: -1;
}

#iphone-tab #drop-shadow-top-fb {
  position: relative;
  margin-top: -132px;
  z-index: -1;
}

#drop-shadow-bottom-fb {
  position: relative;
  margin-top: -105px;
  z-index: -1;
}

ul.social-and-toggle li a {
  &.facebook {
    width: 0px;
  }
}

#iphone-tab {
  .facebook-menu {
    list-style: none;
    margin-top: -30px;
    padding: 0px;

    li {
      float:left;
      margin-right: 0px;
      margin-left: -2px;
      margin-top: -12px;
      width: 112px;

      a {
        text-decoration: none;
        text-align: center;
        padding: 3px;
        height: 130px;
        width: 120px;
        display: block;
        position: relative;

        .product {
          height: 120px;
          width: 120px;

          #riunite-logo-small-img-fb {
            padding-top: 35px;
          }

          #chill-chatter-balloon-img-fb {
            padding-top: 35px;
          }

          #movie-clapboard-img-fb {
            padding-top: 22px;
          }

          #wine-bottle-bag-img-fb {
            padding-top: 5px;
            padding-left: 10px;
          }

          #iphone-img-fb {
            padding-top: 27px;
            padding-left: 7px;
          }

          #pinterest-medium-img-fb {
            padding-top: 38px;
          }
        }

        .caption {
          width: 76px;
          line-height: 12px;
          .font12 {
            font-size: 12px;
            font-weight: bold;
            color: #7AA2C3;
          }
        }

        .main-title {
          position: relative;
          display: block;
          left: 33px;
          height: 18px;
          margin-top: 6px;
          margin-left: -13px;
        }

        .sub-title {
          position: relative;
          display: block;
          left: -33px;
          width: 195px;
          line-height: 10px;
        }

        .sub-title-es {
          position: relative;
          display: block;
          left: 27px;
          width: 74px;
          line-height: 10px;
          margin-top: 0px;
        }
      }

      a[href="#sweet-red"] {
        .main-title {
          width: 45px;
          margin-left: 7px;
        }
      }

      a[href="#sweet-white"] {
        .main-title {
          width: 45px;
          margin-left: 7px;
        }
      }

      #chill-chatter-fb {
        .main-title {
          width: 60px;
          margin-left: -1px;
        }
      }

      a[href="#iphone-case"], #iphone-fb {
        .main-title {
          width: 53px;
          margin-left: 3px;
        }
      }

      a[href="#iphone-case"], #iphone-fb {
        .caption .es {
          width: 67px;
          margin-left: -2px;
        }
      }

      #videos-fb {
        margin-left: 9px;
      }

      a[href="#store-locator"] {
        .main-title {
          width: 60px;
          margin-left: 5px;
        }

        .sub-title {
          margin-left: 6px;
        }
      }

      a[href="#store-locator"] {
        .caption .es {
          width: 82px;
          margin-left: -8px;
        }
      }

      .single-line {
        .main-title {
          padding-top: 12px;
        }

        .sub-title, .sub-title-es {
          margin-top: -12px;
        }
      }
    }
  }
}
  .iphone-case {
    position: absolute;
    margin: -205px 0px 0px 0px;
  }
  #iphone-case-back {
    margin-left: 410px;
  }
  #iphone-case-front {
    margin-left: 565px;
  }

  #iphone-case-shadow {
    position: relative;
    float: right;
    margin-top: 23px;
  }

  #button-row {
    margin-top: 20px;
  }

  #iphone-like-to-get {
    margin-top: 25px;
  }

  #get-it-button-image {
    position: relative;
    z-index:2;
    width: 102px;
    height: 32px;
    margin: -25px 0 0 120px;
    padding-top: 7px;
    background-image: url('/assets/layout/button-generic.png');
    background-repeat: no-repeat;
    text-align: center;
    font-size: 0.7em;
    color: #527988;
    text-shadow: 0px 1px 0px #9cb6bf;
  }

  #get-it-button, #get-it-button:hover, #get-it-button:visited,
  #party-pack-button, #party-pack-button:hover, #party-pack-button:visited {
    color: #527887;
    text-decoration: none;
  }

  #party-pack-content, #corkscrew-content {
    position: absolute;
  }

  #party-pack-text-image, #corkscrew-text-image {
    margin-left: -15px;
  }

  #party-pack-description, #corkscrew-description {
    margin-top: 50px !important;
  }

  #like-and-enter {
    margin: 17px 0;
    color: #92B3CE;
    font-weight: normal;
    text-shadow: 0px -1px 0px #5B808F;
  }

  #party-pack-img {
    position: absolute;
    margin: -220px 0 0 400px;
  }

  #corkscrew-description {
    width: 347px;
    color: #4d799d;
    margin-top: 35px !important;
  }

  #corkscrew-img {
    position: absolute;
    margin: -189px 0 0 364px;
  }