body {
  margin: 0;
  background-color: #eef6f9;
  background-image: url('/assets/layout/repeat-bg.jpg');
  background-position: top center;
  background-repeat: repeat-x repeat-y;

  font-family:'Open Sans',calibri,arial,sans-serif;
}

.bottle-tops {
  width: 986px;
  height: 20px;
  margin: 0 auto;
  background: url('/assets/layout/bottle-tops.png') 68px 0px;
  background-repeat: no-repeat;
}

#bottle-slice {
  position: absolute;
  margin:44px 0 0 -22px;
  width: 22px;
  height: 258px;
  background-image: url('/assets/layout/bottle-slice.png');
}

#main-site {
  /*background-image: url('/assets/layout/white-overlay.png');
  background-position: top center;
  background-repeat: no-repeat;*/
}

#global-like-box {
  position: fixed;
  width: 74px;
  height: 87px;
  margin-top: -38px;
  margin-left: 950px;
  padding-left:14px;
  padding-top:13px;
  background-image: url('/assets/layout/global-like-background.jpg');
  background-repeat: no-repeat;
  z-index:10;
}

.content {
  height:1104px;
  width: 986px;
  margin: 0 auto;


  .font14 {
    font-size: 14px;
    font-weight: bold;
    color: #7AA2C3;
  }

  .font12 {
    font-size: 12px;
    font-weight: normal;
    color: #7AA2C3;
  }

  .font11 {
    font-size: 11px;
    font-weight: normal;
    color: #7AA2C3;
  }

  .hide-it {
    display: none;
  }
}

#drop-shadow-top {
  position:relative;
  margin-top: -110px;
  z-index:-1;
}

header {
  padding: 3px 3px 0px 3px;
}

.chill-chat-container {
  position: relative;
  margin-top:-51px;
  height: 449px;
  width: 982px;
  background: url('/assets/layout/background-main-top.jpg');

  #how-to-play-window {
    z-index:10;
    display:none;
    position: relative;
    width: 887px;
    height: 448px;
    background-image: url('/assets/layout/background-how-to-play.jpg'), url('/assets/layout/dropshadow-popup.png'), url('/assets/layout/background-popup-glow.png');
    background-position: 240px 105px, 240px 245px, left top;
    background-repeat: no-repeat;

    #where-img {
      position: absolute;
      left: 335px;
      top: 125px;
      margin-left: -50px;
    }

    ul {
      list-style-type: none;
      margin:0 0 5px 40px;
      padding:0;

      li {
        font-size: 13px;
        color: #7aa2c3;
        margin-bottom: 3px;

        img {
          margin: -3px 5px 0 0;
        }
      }
    }

    #close-button {
      position: absolute;
      width: 23px;
      height: 23px;
      margin: 115px 0 0 700px;
      background-image: url('/assets/layout/popup-close-button.png');
    }
    #close-button:hover {
      background-image: url('/assets/layout/popup-close-button-hover.png');
    }

    #in-person {
      position: absolute;
      width: 492px;
      height: 244px;
      margin: 165px 0 0 240px;
      background-image: url('/assets/layout/popup-left-tab.png');
      background-position: top left;
      background-repeat: no-repeat;

      #in-person-list {
        width: 492px;
        margin-top: 60px;
      }
    }

    #in-person-trigger {
      position: absolute;
      width: 245px;
      height: 55px;
      margin: 165px 0 0 240px;
      border: 1px solid transparent;
      z-index: 2;

      p {
        color: #7AA2C3;
        font-weight: 500px;
        text-align: center;
        text-shadow: 1px 1px white;
      }
    }

    #online {
      position: absolute;
      display: none;
      width: 492px;
      height: 184px;
      margin: 165px 0 0 240px;
      background-image: url('/assets/layout/popup-right-tab.png');
      background-position: top left;
      background-repeat: no-repeat;

      #online-list {
        width: 492px;
        margin-top: 60px;
      }
    }

    #online-trigger {
      position: absolute;
      width: 245px;
      height: 55px;
      margin: 165px 0 0 485px;
      border: 1px solid transparent;
      z-index: 2;

      p {
        color: #7AA2C3;
        font-weight: 500px;
        text-align: center;
        text-shadow: 1px 1px white;
      }
    }

  }

  .main-description {
    float: left;
    padding: 46px 0 0 118px;
    line-height:20px;
    width: 385px;

    h2 {
      width: 365px;
      height: 103px;
      margin-left: 1px;
      margin-top: 19px;
    }

    h1 {
      height: 1px;
      margin: 0;
    }

    .riunite-sweet-just-chill {
      margin-top: -155px;
    }

    p {
      height: 56px;
      width: 305px;
      text-align: center;
      margin-left: 20px;
      margin-top: -8px;
      font-size: 12px;
      color: #4D799D;
    }
  }

  .chill-question {
    float: left;
    position: relative;
    display: block;
    width: 415px;
    margin: 10px 0 0 62px;

    .box-move {
      height: 299px;
      width: 356px;
    }

    .chill-chatter-bubble {
      background-image :url('/assets/layout/chill_chatter_bubble.png');
      background-repeat:no-repeat;
      display:block;
      position:relative;
      height:165px;
      width:205px;
      left:194px;
      margin-top:24px;
      z-index:4;
    }

    .bubble-bg {
      display:block;
      position:relative;
      height:284px;
      z-index:3;
      right:9px;
      margin-top:-117px;

      img{
        position:relative;
        height:284px;
        width:377px;
      }
    }

    .question {
      text-align:left;
      display:block;
      overflow:hidden;
      position: absolute;
      width: 250px;
      font-weight:100;
      font-style: italic;
      color: white;
      left:70px;
      z-index:4;

      a {
        font-color:#FFF;
      }

    }

    ul {
      list-style-type: none;
      position: relative;
      display: block;
      margin-top: -35px;
      margin-left: -22px;
      z-index: 4;

      li {
        float: left;
        position:relative;
        text-align: center;
        padding-top:4px;
        font-size:12px;
        margin: 0px 0 0 13px;

        .medium_button_blue {
          text-align: center;
          padding-top:5px;
          display:block;
          font-size:12px;
          height:23px;
          width: 117px;
          color: #f1f1f1;
          border: solid 1px #4889AA;
          background: #41BAD8;
          background: -webkit-gradient(linear, left top, left bottom, from(#6dc5e6), to(#4797d2));
          background: -moz-linear-gradient(top,  #6dc5e6,  #4797d2);
          -webkit-border-radius: 2em;
          -moz-border-radius: 2em;
          border-radius: 2em;
        }

        .medium_button_blue:hover {
          text-align: center;
          padding-top:5px;
          display:block;
          font-size:12px;
          height:23px;
          width: 117px;
          color: #f1f1f1;
          border: solid 1px #4889AA;
          background: #42A4D2;
          background: -webkit-gradient(linear, left top, left bottom, from(#4CB9DC), to(#3181C0));
          background: -moz-linear-gradient(top,  #4CB9DC,  #3181C0);
          -webkit-border-radius: 2em;
          -moz-border-radius: 2em;
          border-radius: 2em;
        }
        .medium_button_blue:active {
          text-align: center;
          padding-top:5px;
          display:block;
          font-size:12px;
          height:23px;
          width: 117px;
          color: #f1f1f1;
          border: solid 1px #4889AA;
          background: #2F95C2;
          background: -webkit-gradient(linear, left top, left bottom, from(#37ABD0), to(#236FAA));
          background: -moz-linear-gradient(top,  #37ABD0,  #236FAA);
          -webkit-border-radius: 2em;
          -moz-border-radius: 2em;
          border-radius: 2em;
        }

        .medium_button_white {
          position:relative;
          text-align: center;
          padding-top:6px;
          display:block;
          font-size:12px;
          height:23px;
          width: 124px;
          color: #527887;
          border: solid 1px #B6CBD1;
          background: #DEEDF3;
          background: -webkit-gradient(linear, left top, left bottom, from(#F2F8FA), to(#CDE4ED));
          background: -moz-linear-gradient(top,  #F2F8FA,  #CDE4ED);
          -webkit-border-radius: 2em;
          -moz-border-radius: 2em;
          border-radius: 2em;
          text-decoration:none;
          z-index:5;
        }
        .medium_button_white:hover {
          position:relative;
          text-align: center;
          padding-top:6px;
          display:block;
          font-size:12px;
          height:23px;
          width: 124px;
          color: #527887;
          border: solid 1px #B6CBD1;
          background: #C7E4EE;
          background: -webkit-gradient(linear, left top, left bottom, from(#DEEFF6), to(#A4D4E5));
          background: -moz-linear-gradient(top,  #DEEFF6,  #A4D4E5);
          -webkit-border-radius: 2em;
          -moz-border-radius: 2em;
          border-radius: 2em;
          text-decoration:none;
          z-index:5;
        }
        .medium_button_white:active {
          position:relative;
          text-align: center;
          padding-top:6px;
          display:block;
          font-size:12px;
          height:23px;
          width: 124px;
          color: #527887;
          border: solid 1px #B6CBD1;
          background: #AFD5E3;
          background: -webkit-gradient(linear, left top, left bottom, from(#D0E7EF), to(#7FBCD3™));
          background: -moz-linear-gradient(top,  #D0E7EF,  #7FBCD3);
          -webkit-border-radius: 2em;
          -moz-border-radius: 2em;
          border-radius: 2em;
          text-decoration:none;
          z-index:5;
        }

        .medium_button_white_2 {
          position:relative;
          text-align: center;
          padding-top:6px;
          display:block;
          font-size:12px;
          height:23px;
          width: 99px;
          color: #527887;
          border: solid 1px #B6CBD1;
          background: #DEEDF3;
          background: -webkit-gradient(linear, left top, left bottom, from(#F2F8FA), to(#CDE4ED));
          background: -moz-linear-gradient(top,  #F2F8FA,  #CDE4ED);
          -webkit-border-radius: 2em;
          -moz-border-radius: 2em;
          border-radius: 2em;
          text-decoration:none;
        }
        .medium_button_white_2:hover {
          position:relative;
          text-align: center;
          padding-top:6px;
          display:block;
          font-size:12px;
          height:23px;
          width:99px;
          color: #527887;
          border: solid 1px #B6CBD1;
          background: #C7E4EE;
          background: -webkit-gradient(linear, left top, left bottom, from(#DEEFF6), to(#A4D4E5));
          background: -moz-linear-gradient(top,  #DEEFF6,  #A4D4E5);
          -webkit-border-radius: 2em;
          -moz-border-radius: 2em;
          border-radius: 2em;
          text-decoration:none;
        }
        .medium_button_white_2:active {
          position:relative;
          text-align: center;
          padding-top:6px;
          display:block;
          font-size:12px;
          height:23px;
          width:99px;
          color: #527887;
          border: solid 1px #B6CBD1;
          background: #AFD5E3;
          background: -webkit-gradient(linear, left top, left bottom, from(#D0E7EF), to(#7FBCD3™));
          background: -moz-linear-gradient(top,  #D0E7EF,  #7FBCD3);
          -webkit-border-radius: 2em;
          -moz-border-radius: 2em;
          border-radius: 2em;
          text-decoration:none;
        }

        a {
          text-decoration: none;
          color: white;
        }
      }
    }
  }

  .description {
    position: absolute;
    width: 360px;
    margin: 410px 0 0 598px;
    font-size: 12px;
    color: #4d799d;
    text-align: center;
  }
}

h1.page-title {
  float: left;
  width: 379px;
  text-align: center;
  font-size: 23px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-weight: normal;
  margin: 0px;
  color: white;
  background: url('/assets/layout/blue-striped-background.png') 0px 0px;
  .just-chill {
    font-weight: bold;
  }
}

header {
  position:relative;
  display: block;
  height: 48px;
  z-index:2;
  top:17px;
  margin-right:23px;
}

ul.social-and-toggle {
  position: relative;
  display: block;
  list-style: none;
  margin-right: 20px;
  margin-left: -40px;
  li {
    float: left;
    margin-right: 17px;
    text-align: center;
    a {
      text-decoration: none;
      height: 19px;
      display: block;
      background: url('/assets/layout/header-social-and-toggle-sprite.png') 0px 0px;
      background-repeat: no-repeat;

      &.facebook {
        width: 22px;
      }

      &.facebook:hover {
        width: 22px;
        background-position: 0px -21px;
      }

      &.twitter {
        background-position: -37px 0px;
        width: 23px;
      }

      &.twitter:hover {
        background-position: -37px -21px;
        width: 23px;
      }

      &.youtube {
        margin-left: -4px;
        background-position: -73px 0px;
        width: 19px;
      }

      &.youtube:hover {

        background-position: -73px -21px;
        width: 19px;
      }

      &.pinterest {
        margin-left: -3px;
        background-position: -139px 0px;
        width: 21px;
      }
      &.pinterest:hover {
        background-position: -139px -21px;
        width: 21px;
      }

      &.spotify {
        margin-left:-2px;
        background-position: -106px 0px;
        width: 19px;
      }

      &.spotify:hover {
        background-position: -106px -21px;
        width: 19px;
      }
    }
  }
}

#drop-shadow {
  position:relative;
  margin-top:-140px;
  z-index:-1;
}

#middle-section {
  margin-top:-19px;
  overflow:hidden;
}

.menu {
  list-style: none;
  margin-top: 14px;
  padding: 0px;
  height: 244px;
  width: 1020px;
  background: url('/assets/layout/middle-content-bg.jpg') 0px 0px;
  background-repeat: no-repeat;
  overflow:hidden;

  li {
    float:left;
    margin-right: 47px;
    margin-left: 12px;
    margin-top: 12px;

    a {
      text-decoration: none;
      text-align: center;
      padding: 3px;
      height: 130px;
      width: 130px;
      display: block;
      position: relative;

      .caption-wrapper {
        position: absolute;
        width: 195px;
        height: 54px;
        margin-top: 37px;
      }

      .caption-wrapper-hover {
        background: url("/assets/layout/tab-hover.png");
        background-repeat: none;
        width: 195px;
        background-position: 0px -55px;
      }

      .caption-wrapper-active {
        background: url("/assets/layout/tab-hover.png");
        background-repeat: none;
        width: 195px;
        background-position: 0px -110px;
      }

      .check-back-hover {
        background: url("/assets/layout/tab-hover.png");
        background-repeat: none;
        width: 195px;
        background-position: 0px -55px;
      }

      .red-wrapper {
        margin-left: -15px;
        width: 196px;
      }
      .white-wrapper {
        margin-left: -14px;
        width: 197px;
      }
      .video-wrapper {
        margin-left: -13px;
        width: 197px;
      }
      .iphone-wrapper {
        margin-left: -14px;
        width: 197px;
      }
      .locator-wrapper {
        margin-left: -12px;
        width: 198px;
      }

      .caption {
        margin-top: 11px;
        width: 185px;
        line-height: 3px;
      }

      .main-title {
        margin-left: -23px;
        font-color: rgba(94,142,182, 0.8);
        text-shadow: 1px 1px 6px #CCC, -1px -1px 2px #d5e3ee, 1px 1px 1px #FFF;
      }

      .sub-title {
        margin-left: -15px;
        width: 195px;
      }

      #sweet-red-bottle-small {
        position: absolute;
        display: block;
        top: 16px;
        right: -89px;
      }

      #sweet-white-bottle-small {
        position: absolute;
        display: block;
        top: 15px;
        right: -89px;
      }

      #movie-clapboard {
        position: absolute;
        display: block;
        top: 42px;
        right: -66px;
      }

      #iphone {
        position: absolute;
        display: block;
        top: 80px;
        right: -48px;
      }

      #wine-bottle-bag {
        position: absolute;
        display: block;
        top: 7px;
        right: -57px;
      }
    }
    .iphone-wrapper {
      margin-left: 2px;
    }
    .locator-wrapper {
      margin-left: -1px;
    }
  }
}

.bottom-section {
  margin-top: -18px;
  padding-left: 60px;
  padding-right: 60px;
  height: 317px;
  width: 982px;
  background: url('/assets/layout/background-bottom.jpg') 0px 0px;
  background-repeat: no-repeat;

  .tab-text-image {
    margin-top: 33px;
    margin-left: 4px;
  }

  h2 {
    margin-top: -49px;
    margin-left: 23px;
    color: #B23169;
    font-size: 27px;
    height: 42px;
    width: 173px;
  }

  .content-like-wrapper {
    position: absolute;
    width: 90px;
    height: 25px;
    margin-top: -40px;
    margin-left: 293px;
  }

  .find-it-button, .find-it-button:hover, .find-it-button:active {
    position: absolute;
    width: 102px;
    height: 32px;
    margin-top: -48px;
    margin-left: 400px;
    padding-top: 4px;
    background: url('/assets/layout/button-generic.png') 0px 0px;
    background-repeat: no-repeat;
    color: #7aa2c3;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
  }

  .red-white-descriptions {
    margin-top:6px;
    margin-left:8px;
    width: 560px;
    line-height: 20px;
  }

  .playlists {
    /*display:none; */
    margin: 18px 0 0 8px;
    width:974px;
  }

  .cork {
    margin-left: 748px;
    margin-top: -157px;
  }

  .wine-bottle {
    margin-left: 496px;
    margin-top: -186px;
  }

  .wine-bottle-white {
    display: block;
    position:relative;
    right:-501px;
    margin-top:-186px;
  }

  .charms {
    list-style: none;
    margin-top: -120px;
    margin-left: -49px;

    li {
      float: left;
      padding-left: 6px;
      padding-right: 6px;
      width: 100px;

      a {
        position: relative;
        display: block;
        left: 50%;
        margin-left: -49px;
        height: 66px;
        width: 76px;
        text-decoration: none;

        &.sweet-red-charms {
          background: url('/assets/layout/red-wine-charms-sprite.png') 0px 0px;
          background-repeat: no-repeat;
        }

        &.sweet-white-charms {
          background: url('/assets/layout/white-wine-charms-sprite.png') 0px 0px;
          background-repeat: no-repeat;
        }

        #charm-caption {
          margin-top: 10px;
          padding-top: 72px;
          text-align: center;
        }

        &.porch {
        }

        &.porch:hover {
          background-position: -519px 0px;
        }

        &.after-hours {
          margin-left: -47px;
          background-position: -111px 0px;
        }

        &.after-hours:hover {
          background-position: -630px 0px;
        }

        &.bbq {
          background-position: -218px 0px;
        }

        &.bbq:hover {
          background-position: -737px 0px;
        }

        &.coffee {
          margin-left: -51px;
          background-position: -325px 0px;
        }

        &.coffee:hover {
          background-position: -844px 0px;
        }

        &.chatter {
          margin-left: -53px;
          background-position: -432px 0px;
        }

        &.chatter:hover {
          background-position: -951px 0px;
        }

        &.unplugged {
        }

        &.unplugged:hover {
          background-position: -519px 0px;
        }

        &.water {
          margin-left: -47px;
          background-position: -111px 0px;
        }

        &.water:hover {
          background-position: -630px 0px;
        }

        &.summer {
          background-position: -218px 0px;
        }

        &.summer:hover {
          background-position: -737px 0px;
        }

        &.party {
          margin-left: -51px;
          background-position: -325px 0px;
        }

        &.party:hover {
          background-position: -844px 0px;
        }

        &.chatter {
          margin-left: -53px;
          background-position: -432px 0px;
        }

        &.chatter:hover {
          background-position: -951px 0px;
        }
      }
    }
  }

  #video {
    .video-menu {
      list-style: none;
      margin-top: 0px;
      margin-left: -60px;

      li {
        float:left;
        margin-right: 39px;
        margin-left: 20px;
        width: 240px;
        position:relative;
        margin-top:6px;

        #spacer {
          position:relative;
          margin-top:20px;
        }

        a {
          text-decoration: none;
          padding: 3px;
          height: 143px;
          width: 254px;

          p {
            float: left;
          }

          .title {
            color: #7AA2C3;
            position: relative;
            top: 17px;
            width: 162px;
            line-height: 3px;
          }

          .main-title {
            position: relative;
            text-align: left;
            margin-left: 25px;
            top: 19px;
            font-size: 14px;
            font-weight: bold;
          }

          .button-white {
            color: #527887;
            border: solid 1px #B6CBD1;
            background: #F2F8FA;
            background: -webkit-gradient(linear, left top, left bottom, from(#F2F8FA), to(#CDE4ED));
            background: -moz-linear-gradient(top,  #F2F8FA,  #CDE4ED);
            -webkit-border-radius: 2em;
            -moz-border-radius: 2em;
            border-radius: 2em;
            text-decoration:none;
            text-align: center;
            height: 23px;
            width: 75px;
            font-size: 12px;
            font-weight: bold;
            padding-top: 7px;
            position:relative;
            margin-top:14px;
          }
        }
      }
    }
  }
}

#drop-shadow-bottom {
  position:relative;
  margin-top:-110px;
  z-index:-1;
}

#video-popup {
  display: none;
  position: absolute;
  width:699px;
  height:450px;
  margin: -210px 0 0 135px;
  background-image: url('/assets/layout/background-video-popup.jpg');
  background-repeat: no-repeat;
  z-index: 100;

  #video-button-close {
    position: absolute;
    width: 23px;
    height: 23px;
    margin: 5px 0 0 672px;
    background-image: url('/assets/layout/popup-close-button.png');
  }

  #video-container {
    position: absolute;
    width: 640px;
    height: 385px;
    margin: 32px 28px;
  }
}

  .locale {
    margin-bottom: 20px;
    margin-left: 20px;
    padding-top: 2px;
    padding-left: 13px;
    width: 64px;
    height: 18px;
    font-size: 11px;
    font-weight: bold;
    background-image: url('/assets/layout/header-social-and-toggle-sprite.png');
    background-position: -173px 0px;
    
    a, a:visited{
      color: white;
      text-decoration: none;
    }
    a:hover {
      color: white;
      text-decoration: none;
    }
  }

  .locale:hover {
    background-position: -173px -21px;
  }


#footer {
  position: relative;
  background-color: #205678;
  height: 150px;
  color: #76B0D7;
  font-size: 11px;
  font-weight: 500;
  line-height: 20px;
  padding-top: 10px;
  padding-left: 66px;
  padding-right: 66px;
  outline: solid 1px #10354E;
  border-top: solid 1px #3A7AA4;

  #footer-content{
    position: relative;
    width: 962px;
    margin: 0 auto -8px auto;

    .legal-disclaimer {
      position: relative;
      clear: both;
      padding-top: 10px;
      a, a:visited, a:active {
        color: #76B0D7;
        text-decoration: none;
      }
    }
    .responsibility-import {
      float: left;
      clear: right;
      margin-bottom: 10px;
    }
    .finance-accordance {
      display: block;
      float: right;
      font-size: 8px;
      padding-right: 65px;
      background-image: url('/assets/layout/international-flags.png');
      background-position:right center;
      background-repeat: no-repeat;
      height: 20px;
    }
  }
}
