#share-wrapper {
  display: none;
  position: relative;
  width: 887px;
  height: 448px;
  margin: -1070px auto 0 auto;  
  background-image: url('/assets/layout/dropshadow-popup.png'), url('/assets/layout/background-popup-glow.png');
  background-position: 195px 245px, left top;
  background-repeat: no-repeat, no-repeat;
  padding-top: 106px;
  z-index: 4;
}

#share-content {
  position: relative;
  width:492px;
  height:244px;
  margin:0px auto 0 auto;
  background-image: url('/assets/layout/background-share-popup.jpg');
  background-repeat: no-repeat;
  font-family:arial,sans-serif;

  #share-close-button {
      position: absolute;
      width: 23px;
      height: 23px;
      margin: 5px 0 0 465px;
      background-image: url('/assets/layout/popup-close-button.png');
    }
    #share-close-button:hover {
      background-image: url('/assets/layout/popup-close-button-hover.png');
    }
}

.font12 {
font-size: 12px;
font-weight: normal;
color: #7AA2C3;
}

#twenty-one-statement {
  position: absolute;
  width: 140px;
  height: 40px;
  margin: 30px 0 0 20px;
}

#facebook-content {
  position: absolute;
  width: 91px;
  height: 21px;
  margin: 90px 0 0 20px;
}

#twitter-content {
  position: absolute;
  width: 120px;
  height: 35px;
  margin: 125px 0 0 20px;
}

#question-text {
	position: absolute;
	width: 185px;
	height: 90px;
	margin: 80px 0 0 260px;
	font-size: 14px;
  font-weight:100;
  font-style: italic;
  color: white;
}