<div id="chill-chatter-content" class="show-tab-content">
  <img class="tab-text-image" src="../assets/layout/text-chill-chatter.png" />
  <h2><span class="ir"><%= t('chill-chatter') %></span></h2>

  <p class="chill-chatter-description-text"><%= t('chill_chatter_description') %></p>

  <div id="how-to-play">
    <p class="main-title font14"><%= t('chill_chat_menu_rules') %></p>
    <%= render :partial => 'shared/how_to_online_content' %>
  </div>



  <div class="chill-question">
    <div class="title">
      <div class="ir">
        <%=t('chill_chatter') %>
      </div>
    </div>
    <div class="chill-chatter-bubble"></div>
    <div class="box-move">
      <div class="bubble-bg">
        <div class="question" style="text-align: left; display: block; font-size: 1em; opacity: 1;left: 70px; width: 250px; "></div>
        <img id="bubble" src="../assets/layout/question_bubble.png" />
      </div>
    </div>
    <ul class="chill-chat-menu">
      <li ><a href="#" class="medium_button_blue" id="share-question"><%= t('chill_chat_menu_share_question') %></a></li>
      <li><a href="#" class="medium_button_white" id="next-question"><%= t('chill_chat_menu_next_question') %></a></li>
    </ul>
  </div>



</div>