<div id="corkscrew-content" class="show-tab-content">
  <img class="tab-text-image" id="corkscrew-text-image" src="../assets/layout/<%= t('text_corkscrew') %>" />
  <h2><span class="ir"><%= t('corkscrew_tab_menu_text') %></span></h2>
  <p class="red-white-descriptions font12" id="corkscrew-description"><%= t('corkscrew_text').html_safe %></p>
  <p class="main-title font14" id="like-and-enter"><%= t('corkscrew_like_to_get') %></p>
  <img class="corkscrew-img" id="corkscrew-img" src="../assets/layout/corkscrew.png" />

  <div id="button-row">
    <div  class="fb-like"
      data-href="<%= t('facebook_link') %>"
      data-send="false"
      data-layout="button_count"
      data-width="110"
      data-show-faces="false">
    </div>
    <a id="get-it-button" href="#">
      <div id="get-it-button-image"><%= t('get_it_text') %></div>
    </a>
  </div>

</div>

