
<div id="online">
  <div id="online-list">
    <ul>
      <li><img src="../assets/layout/one.png" /><%= t('online_one') %></li>
      <li><img src="../assets/layout/two.png" /><%= t('online_two') %></li>
      <li><img src="../assets/layout/three.png" /><%= t('online_three') %></li>
    <ul>
  </div>
</div>