<div id="iphone-case" class="show-tab-content">
  <img class="tab-text-image" src="../assets/layout/<%= t('text_iphone_case') %>" />
  <h2><span class="ir"><%= t('iphone_case_tab_menu_text') %></span></h2>
  <p class="red-white-descriptions font12"><%= t('iphone_offer_text') %></p>
  <p class="main-title font14" id="iphone-like-to-get"><%= t('iphone_like_to_get') %></p>
  <img id='iphone-case-shadow' src="../assets/layout/iphone-case-shadows.png" />
  <img class="iphone-case" id="iphone-case-back" src="../assets/layout/iphone-case-back.png" />
  <img class="iphone-case" id="iphone-case-front" src="../assets/layout/iphone-case-front.png" />
  
  <div id="button-row"> 
    <div  class="fb-like" 
          data-href="https://www.facebook.com/RiuniteSweet" 
          data-send="false" 
          data-layout="button_count" 
          data-width="110" 
          data-show-faces="false">
    </div>

    <a id="get-it-button" href="#">
      <div id="get-it-button-image"><%= t('get_it_text') %></div>
    </a>
  </div>

</div>