<div id="party-pack-content" class="show-tab-content">
  <img class="tab-text-image" id="party-pack-text-image" src="../assets/layout/<%= t('text_party_pack') %>" />
  <h2><span class="ir"><%= t('party_pack_tab_menu_text') %></span></h2>
  <p class="red-white-descriptions font12" id="party-pack-description"><%= t('party_pack_text').html_safe %></p>
  <p class="main-title font14" id="like-and-enter"><%= t('like_and_enter') %></p>
  <img class="party-pack-img" id="party-pack-img" src="../assets/layout/party-pack.png" />

  <div id="button-row">
    <div  class="fb-like"
      data-href="<%= t('facebook_link') %>"
      data-send="false"
      data-layout="button_count"
      data-width="110"
      data-show-faces="false">
    </div>

    <a id="party-pack-button" href="#">
      <div id="get-it-button-image"><%= t('enter_to_win') %></div>
    </a>
  </div>

</div>

