<div id="sweet-red" class="show-tab-content">
  <img class="tab-text-image" src="../assets/layout/text-sweet-red.png" />
  <h2><span class="ir"><%= t('sweet_red_tab_menu_text') %></span></h2>

  <div class="content-like-wrapper hide-it">
    <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Friunitesweet.com%2F<%= @locale %>%2Fsweet-red-wine&amp;send=false&amp;layout=button_count&amp;width=90&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=25&amp;appId=225731830774718" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:90px; height:25px;" allowTransparency="true"></iframe>
  </div>

  <a href="#" class="find-it-button hide-it">
    Find it
  </a>

  <p class="red-white-descriptions font12"><%= t('sweet_red_description') %></p>
  <p class="playlists font14" ><%= t('chill_with') %></p>
  <img class="wine-bottle" src="../assets/layout/sweet-red-bottle-half.png" />
  <img class="cork" src="../assets/layout/cork.png" />
  <ul class="charms">
    <li>
      <a target="_blank" href="http://open.spotify.com/user/riunite-sweet/playlist/0YwHVilcaBLe96C59ieAb7" class="bbq sweet-red-charms">
        <div id="charm-caption" class="font11">
          <%= t('charm_bbq') %>
        </div>
      </a>
    </li>
    <li>
      <a target="_blank" href="http://open.spotify.com/user/riunite-sweet/playlist/44XOqkZlZgvIgPOpnOmFN8" class="summer sweet-white-charms">
        <div id="charm-caption" class="font11">
          <%= t('charm_summer') %>
        </div>
      </a>
    </li>
    <li>
      <a target="_blank" href="http://open.spotify.com/user/riunite-sweet/playlist/6SxwOvDQQ5HDlWuUyhf6UF" class="party sweet-white-charms">
        <div id="charm-caption" class="font11">
          <%= t('charm_party') %>
        </div>
      </a>
    </li>
    <li>
      <a href="http://open.spotify.com/user/riunite-sweet/playlist/6ftmBcd0e0OaWKjzuZnHkY" class="coffee sweet-red-charms" target="_blank">
        <div id="charm-caption" class="font11">
          <%= t('charm_conversation') %>
        </div>
      </a>
    </li>
    <li >
      <a href="http://open.spotify.com/user/riunite-sweet/playlist/38w1rRQVudStVBk688ibrm" class="chatter sweet-red-charms" target="_blank">
        <div id="charm-caption" class="font11">
          <%= t('random') %>
        </div>
      </a>
    </li>
    <li class="hide-it">
      <a href="#" class="porch sweet-red-charms">
        <div id="charm-caption" class="font11">
          <%= t('charm_rockin') %>
        </div>
      </a>
    </li>
    <li class="hide-it">
      <a href="#" class="after-hours sweet-red-charms">
        <div id="charm-caption" class="font11">
          <%= t('charm_after_hours') %>
        </div>
      </a>
    </li>
  </ul>
</div>