<div id="video" class="show-tab-content" style="display:none">
  <img class="tab-text-image" src="../assets/layout/text-chill-girls.png" />
  <h2><span class="ir"><%= t('video_tab_menu_text') %></span></h2>
  <ul class="video-menu">
    <% if @locale.to_s == "es" %>
    <li>
      <a href="#" id="latino-trigger">
        <img src="../assets/layout/chill-girl-video-apartment.jpg" />
        <span id="spacer"></span>
        <p class="button-white"><%= t('video_tab_sub_menu_watch') %></p>
        <span class="title main-title"><%= t('video_tab_sub_menu_latino') %></span>
      </a>
    </li>
    <% else %>
    <li>
      <a href="#" id="apartment-trigger">
        <img src="../assets/layout/chill-girl-video-apartment.jpg" />
        <span id="spacer"></span>
        <p class="button-white"><%= t('video_tab_sub_menu_watch') %></p>
        <span class="title main-title"><%= t('video_tab_sub_menu_eyes') %></span>
      </a>
    </li>
    <li>
      <a href="#" id="rooftop-trigger">
        <img src="../assets/layout/chill-girl-video-rooftop.jpg" />
        <span id="spacer"></span>
        <p class="button-white"><%= t('video_tab_sub_menu_watch') %></p>
        <span class="title main-title"><%= t('video_tab_sub_menu_pumps') %></span>
      </a>
    </li>
    <% end %>
  </ul>
</div>