<header>
  <ul class="social-and-toggle">
    <li><a class="twitter" target="_blank" href="<%= t('twitter_link') %>"><span class="ir">Twitter</span></a></li>
    <li><a class="youtube" target="_blank" href="<%= t('youtube_link') %>"><span class="ir">YouTube</span></a></li>
    <li><a class="pinterest" target="_blank" href="<%= t('pinterest_link') %>"><span class="ir">Pinterest</span></a></li>
  </ul>
</header>
