<li>
  <a class="show-tab-content" id="fb-tab" href="#sweet-white">
    <div class="product"><img id="sweet-white-bottle-small-fb" src="../assets/layout/sweet-white-bottle-smaller.png" /></div>
    <div class="caption">
      <p class="main-title font12"><%= t('sweet_white_tab_menu_text') %></p>
      <p class="<%= @locale.to_s == 'es' ? 'sub-title-es' : 'sub-title' %> font11"><%= t('sweet_white_tab_menu_sub_text') %></p>
    </div>
  </a>
</li>
