<li style="margin-right: 0px;">
  <a target="_blank" id="pinterest-fb" href="http://pinterest.com/riunitesweet/">
    <div class="product"><img id="pinterest-medium-img-fb" src="../assets/layout/pinterest-medium.png" /></div>
    <div class="caption single-line">
      <p class="main-title font12"><%= t('facebook_pinterest') %></p>
      <p class="<%= @locale.to_s == 'es' ? 'sub-title-es' : 'sub-title' %> font11"><%= t('facebook_pinterest_sub_menu') %></p>
    </div>
  </a>
</li>
