<li>
  <a target="_blank" id="videos-fb" href="https://www.facebook.com/<%= @locale.to_s == 'es' ? 'RiuniteSweetLatino' : 'RiuniteSweet' %>/videos">
    <div class="product"><img id="movie-clapboard-img-fb" src="../assets/layout/movie-clapboard-small.png" /></div>
    <div class="caption single-line">
      <p class="main-title font12"><%= t('facebook_videos') %></p>
      <p class="<%= @locale.to_s == 'es' ? 'sub-title-es' : 'sub-title' %> font11"><%= t('video_tab_menu_sub_text') %></p>
    </div>
  </a>
</li>
