<div class="main-description">
  <h2 class="ir"><%= t('riunite_sweet') %>.</h2>
  <h1 class="ir"><%= t('just_chill') %>.</h1>
  <% if @locale.to_s == "es" %>
  <img id="just-chill-img-es" src="../assets/layout/just-chill-text-es-fb.png" />
  <% else %>
  <img id="just-chill-img" src="../assets/layout/just-chill-text-fb.png" />
  <% end %>
</div>
