<li>
  <a id="wine-bottle-bag-fb" href="http://locator.banfi-hq.com/WineLocator/Default.aspx?BCode=289" target="_blank">
    <div class="product"><img id="wine-bottle-bag-img-fb" src="../assets/layout/wine-bottle-bag-small.png" /></div>
    <div class="caption">
      <p class="main-title font12 <%= @locale.to_s == 'es' ? 'es' : '' %>" id="store-locator-sub"><%= t('store_locator_tab_menu_text') %></p>
      <p class="<%= @locale.to_s == 'es' ? 'sub-title-es' : 'sub-title' %> font11"><%= t('store_locator_tab_menu_sub_text') %></p>
    </div>
  </a>
</li>
