<li>
  <a class="show-tab-content" id="fb-tab" href="#chill-chatter-content">
    <div class="product"><img id="chill-chatter-balloon-img-fb" src="../assets/layout/chill-chatter-balloon-small.png" /></div>
    <div class="caption">
      <p class="main-title font12" id="chill-chatter-sub"><%= t('chill_chatter') %></p>
      <p class="<%= @locale.to_s == 'es' ? 'sub-title-es' : 'sub-title' %> font11"><%= t('facebook_chill_chatter_sub_menu') %></p>
    </div>
  </a>
</li>
