<li>
  <a class="show-tab-content" id="fb-tab" href="#">
    <div class="product"><img id="riunite-logo-small-img-fb" src="../assets/layout/r-logo.png" /></div>
    <div class="caption single-line">
      <p class="main-title font12"><%= t('riunite_home') %></p>
      <p class="<%= @locale.to_s == 'es' ? 'sub-title-es' : 'sub-title' %> font11"><%= t('explore_timeline') %></p>
    </div>
  </a>
</li>
