<li>
  <a target="_blank" id="chill-chatter-fb" href="http://www.riunitesweet.com/<%= @locale.to_s == 'es' ? 'es' : 'en' %>">
    <div class="product"><img id="chill-chatter-balloon-img-fb" src="../assets/layout/chill-chatter-balloon-small.png" /></div>
    <div class="caption">
      <p class="main-title font12" ><%= t('chill_chatter') %></p>
      <p class="<%= @locale.to_s == 'es' ? 'sub-title-es' : 'sub-title' %> font11"><%= t('facebook_chill_chatter_sub_menu') %></p>
    </div>
  </a>
</li>
