<div id="facebook-tab">
  <%= render :partial => 'floodlight_analytics' %>
  <%= render :partial => 'main/question_and_video_scripts' %>
  <script type="text/javascript">
    $(document).ready(function() {

      // Hide sweet red on load
      $('#sweet-red').css({'display': 'none'});

      TabMenu.init(
        $('.tab-menu'),
        $('.tab-contents')
      );

      var loc = new FbLinkHandler();
      loc.init(
        $('#fb-locale-link'),
        '<%= t('locale_switch_fb'); %>'
      );

      var iphoneLink = new FbLinkHandler();
      iphoneLink.init(
        $('#iphone-fb'),
        '<%= t('fb_iphone_tab_link') %>'
      );

      var fbLink = new FbLinkHandler();
      fbLink.init(
        $('#fb-tab'),
        '<%= t('facebook_link')%>'
        );

      var get_it = new FbLinkHandler();
      get_it.init(
        $('#get-it-button'),
        "<%= t('corkscrew_link') %>"
      );

    });
  </script>

  <div class="centered"></div>
  <div class="content-top-facebook">
    <ul class="tab-menu facebook-menu">
      <%= render :partial => 'top_section_landing' %>
      <%= render :partial => 'top_section_sweet_red' %>
      <%= render :partial => 'top_section_sweet_white' %>
      <%= render :partial => 'top_section_fb_chill_chatter' %>
      <%= render :partial => 'top_section_videos' %>
      <%= render :partial => 'top_section_store_locator' %>
      <%= render :partial => 'top_section_pinterest' %>
    </ul>
  </div>
  <%= image_tag("layout/drop-shadow-fb.png", :id => 'drop-shadow-top-fb') %>
  <div class="tab-contents bottom-section-facebook">
    <%= render :partial => 'shared/corkscrew_content' %>
    <%= render :partial => 'shared/chill_chatter_content' %>
    <%= render :partial => 'shared/sweet_red_content' %>
    <%= render :partial => 'shared/sweet_white_content' %>
  </div>
  <%= image_tag("layout/drop-shadow-fb.png", :id => 'drop-shadow-bottom-fb') %>
  <%= render :partial => 'switch_locale' %>
</div>

<script type="text/javascript">
   $(document).ready(function() {
    $('#chill-chatter-content').css("display", "none");
  });
</script>
