<div id="iphone-tab">
  <%= render :partial => 'floodlight_analytics' %>
  <script type="text/javascript">
    $(document).ready(function() {
      IphoneTabMenu.init(
        $('.tab-menu'),
        $('.tab-contents')
      );

      var loc = new FbLinkHandler();
      loc.init(
        $('#fb-locale-link'),
        '<%= t('locale_switch_fb'); %>'
      );

      var get_it = new FbLinkHandler();
      get_it.init(
        $('#get-it-button'),
        "<%= t('fb_iphone_tab_link') %>"
      );

    });
  </script>
  <div class="centered"></div>
  <div class="content-top-facebook">
    <%= render :partial => 'social_links' %>
    <%= render :partial => 'top_section_text' %>
    <ul class="tab-menu facebook-menu">
      <%= render :partial => 'top_section_sweet_red' %>
      <%= render :partial => 'top_section_sweet_white' %>
      <%= render :partial => 'top_section_chill_chatter' %>
      <%= render :partial => 'top_section_videos' %>
      <%= render :partial => 'top_section_store_locator' %>
      <li>
        <a class="show-tab-content" id="fb-tab" href="#iphone-case">
          <div class="product"><img id="iphone-img-fb" src="../assets/layout/iphone-small.png" /></div>
          <div class="caption">
            <p class="main-title font12 <%= @locale.to_s == 'es' ? 'es' : '' %>"><%= t('facebook_iphone_case') %></p>
            <p class="<%= @locale.to_s == 'es' ? 'sub-title-es' : 'sub-title' %> font11"><%= t('a_thanks_to_our_fans') %></p>
          </div>
        </a>
      </li>
      <%= render :partial => 'top_section_pinterest' %>
    </ul>
  </div>
  <%= image_tag("layout/drop-shadow-fb.png", :id => 'drop-shadow-top-fb') %>
  <div class="tab-contents bottom-section-facebook">
  	<%= render :partial => 'shared/iphone_content' %>
    <%= render :partial => 'shared/sweet_red_content' %>
    <%= render :partial => 'shared/sweet_white_content' %>
  </div>
  <%= image_tag("layout/drop-shadow-fb.png", :id => 'drop-shadow-bottom-fb') %>
  <%= render :partial => 'switch_locale' %>
</div>
