<h1>Listing questions</h1>

<table>
  <tr>
    <th>En</th>
    <th>Es</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @questions.each do |question| %>
  <tr>
    <td><%= question.en %></td>
    <td><%= question.es %></td>
    <td><%= link_to 'Show', [:admin, question] %></td>
    <td><%= link_to 'Edit', edit_admin_question_path(question) %></td>
    <td><%= link_to 'Destroy', [:admin, question], confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Question', new_admin_question_path %>
