<p id="notice"><%= notice %></p>

<p>
  <b>En:</b>
  <%= @question.en %>
</p>

<p>
  <b>Es:</b>
  <%= @question.es %>
</p>


<%= link_to 'Edit', edit_admin_question_path(@question) %> |
<%= link_to 'Back', admin_questions_path %>
