.content {
	margin-top: 50px;
}

.chill-chat-container {
	#how-to-play-window {
		background-image: url('/assets/layout/background-how-to-play.jpg');
	    background-position: 240px 105px;
	}
}

#drop-shadow {
	margin-top: -174px;
}

#footer {
	margin-top: 20px;
}

#global-like-box {
	margin-top: 10px;
}

#facebook-tab .facebook-menu li a .caption {
	width: 83px;
}