<script type="text/javascript">
  var _gaq = _gaq || [];
<% if Rails.env.production? %>
  _gaq.push(['_setAccount', 'UA-32589193-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

  $(document).ready(function() {
    //_gaq.push(['_trackEvent','main','question-load',$('.question').text()]);
  });
<% end %>
</script>