<!DOCTYPE html>
<html>
<head>
  <title>Riunite Sweet</title>
  <%= stylesheet_link_tag    "application-all", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
	<body>
		<%= yield %>
	</body>
</html>