<!DOCTYPE html>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application-all", :media => "all" %>
  <!--[if lte IE 8]>
    <%= stylesheet_link_tag "application-ie", :media => "all" %>
  <![endif]-->
  <%= javascript_include_tag "application" %>
  <meta property="og:title" content="Riunite Sweet Chill Chatter" />
  <meta property="og:description" content="<%= @meta_description %> Get juicy conversation going with Riunite Sweet Chill Chatter questions." />
  <meta property="og:type" content="drink" />
  <meta property="og:url" content="http://riunitesweet.herokuapp.com/<%= @locale %>/<%= @meta_id %>" />
  <meta property="og:image" content="http://riunitesweet.herokuapp.com/assets/fb_share.png" />
  <meta property="og:site_name" content="Riunite Sweet Chill Chatter" />
  <meta property="fb:admins" content="100001143726708" />

  <% if @locale.to_s == 'en' %>
  	<title>Riunite Sweet wines. Just Chill.</title>
  	<meta name="description" content="Riunite Sweet Red & Sweet White wines. Easy to drink, smooth & sweet.">
  <% else %>
  	<title>Riunite Sweet vino. Just Chill.</title>
    <meta name="description" content="Los vinos Riunite Sweet son deliciosos y se beben fácilmente. Procedentes de las famosas regiones vinícolas de Italia, son ideales para comenzar cualquier situación. Refréscate. Disfruta.">
  <% end %>

  <meta name="robots" content="NOODP,NOYDIR">
  <meta name="robots" content="index,follow">

  <%= csrf_meta_tags %>
  <%= render :partial => 'layouts/google_analytics' %>
  <%= render :partial => 'layouts/lucky_orange_analytics' %>
</head>
<body>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=225731830774718";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

  
<div class="content-wrap">
	<div class="content">
		<%= yield %>
	</div>
</div>
<div id="footer">
	<div id="footer-content">

    <ul class="social-and-toggle">
      <li><a class="facebook" target="_blank" href="<%= t('facebook_link') %>"><span class="ir">Facebook</span></a></li>
      <li><a class="twitter" target="_blank" href="<%= t('twitter_link') %>"><span class="ir">Twitter</span></a></li>
      <li><a class="youtube" target="_blank" href="<%= t('youtube_link') %>"><span class="ir">YouTube</span></a></li>
      <li><a class="spotify" target="_blank" href="<%= t('spotify_link') %>"><span class="ir">Spotify</span></a></li>
      <li><a class="pinterest" target="_blank" href="<%= t('pinterest_link') %>"><span class="ir">Pinterest</span></a></li>
    </ul>

    <div class="finance-accordance">
      <%= t('footer_finance_accordance') %>
    </div>

		<div class="legal-disclaimer">
			<%= t('footer_legal_disclaimer').html_safe %>
		</div>
		<div class="responsibility-import">
			<%= t('footer_responsibility_and_import').html_safe %>
		</div>
		
	</div>
  <%= render :partial => 'layouts/maxpoint_analytics' %>
</div>
</body>
</html>
