<!DOCTYPE html>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application-all", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <meta property="og:title" content="Riunite Sweet" />
  <meta property="og:description" content="Riunite Sweet wines are flavorful and easy to drink. From Italy's famed wine growing regions, they are ideal to kick off any occasion. Chill. Enjoy." />
  <meta property="og:type" content="drink" />
  <meta property="og:url" content="https://www.facebook.com/RiuniteSweet" />
  <meta property="og:image" content="http://riunitesweet.herokuapp.com/assets/fb_share.png" />
  <meta property="og:site_name" content="Riunite Sweet" />
  <meta property="fb:admins" content="100001143726708" />

  <% if @locale.to_s == 'en' %>
  	<title>Riunite Sweet wines. Just Chill.</title>
  	<meta name="description" content="Riunite Sweet Red & Sweet White wines. Easy to drink, smooth & sweet.">
  <% else %>
  	<title>Riunite Sweet vino. Just Chill.</title>
    <meta name="description" content="Los vinos Riunite Sweet son deliciosos y se beben fácilmente. Procedentes de las famosas regiones vinícolas de Italia, son ideales para comenzar cualquier situación. Refréscate. Disfruta.">
  <% end %>

  <meta name="robots" content="NOODP,NOYDIR">
  <meta name="robots" content="index,follow">

  <%= csrf_meta_tags %>
  <%= render :partial => 'layouts/google_analytics' %>
</head>
<body>

	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=264229707017946";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>

	<div class="content-wrap">
		<div class="content">
			<%= yield %>
		</div>
	</div>
	<footer>
		<div id="footer-content">
			<div class="legal-disclaimer">
				<%= t('footer_legal_disclaimer').html_safe %>
			</div>
			<div class="responsibility-import">
				<%= t('footer_responsibility_and_import').html_safe %>
			</div>
			<div class="finance-accordance">
				<%= t('footer_finance_accordance') %>
			</div>
		</div>
	</footer>
</body>
</html>


