<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    "application-share", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <meta property="og:title" content="Riunite Sweet Chill Chatter" />
  <meta property="og:description" content="<%= @meta_description %> Get juicy conversation going with Riunite Sweet Chill Chatter questions." />
  <meta property="og:type" content="drink" />
  <meta property="og:url" content="http://riunitesweet.herokuapp.com/<%= @locale %>/<%= @meta_id %>" />
  <meta property="og:image" content="http://riunitesweet.herokuapp.com/assets/chill_chatter_balloon.jpg" />
  <meta property="og:site_name" content="Riunite Sweet Chill Chatter" />
  <meta property="fb:admins" content="100001143726708" />

  <% if @locale.to_s == 'en' %>
    <title>Riunite Sweet wines. Just Chill.</title>
    <meta name="description" content="Riunite Sweet Red & Sweet White wines. Easy to drink, smooth & sweet.">
  <% else %>
    <title>Riunite Sweet vino. Just Chill.</title>
    <meta name="description" content="Los vinos Riunite Sweet son deliciosos y se beben fácilmente. Procedentes de las famosas regiones vinícolas de Italia, son ideales para comenzar cualquier situación. Refréscate. Disfruta.">
  <% end %>

  <meta name="robots" content="NOODP,NOYDIR">
  <meta name="robots" content="index,follow">

  <%= csrf_meta_tags %>
</head>
	<body>
		<%= yield %>
	</body>
</html>